.detalle .owl-prev, .detalle .owl-next{
	font-family: 'FontAwesome';
	position:absolute;
	bottom:50%;
	text-indent:-9999px;
	}
.detalle .owl-prev{
	display:block;
	content:"\f104";
	padding:20px;
	left:15px;
	}
.detalle .owl-next{
	display:block;
	content: "\f104";
	padding:20px;
	right:15px;
	}
.detalle .input-group{
	display: block;
    position: relative;
	}
.detalle #nombre img{
	}
.detalle #nombre h1{
	color:#1D1D1D;
	font-size:22px;
	margin:0px;
	}
.detalle #imagen{
	overflow: hidden;
	border-right:1px solid #E7E7E7;
	padding-bottom: 20px;
	}	
.detalle .responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px; 
	overflow: hidden;
}	
.detalle .productbox{
	margin-top:0px;
	font-family: 'open_sansregular';
	overflow:hidden;
	box-shadow:none; 
	padding: 30px 8px 10px;
    min-width: 225px;
	min-height:0;
	position:relative;
	opacity:1;
	transition:none;
	}
.detalle .productbox form {
	overflow:visible;
	box-shadow:none;
	}
.detalle .input-group .cantidad {
    width: 45%;
	float:left;
}
.detalle .btn-buy{
	float:left;
	width: 50%;
	}
.detalle .btn-buy button{
  	padding:6px;
	width:100%;
}
.detalle .ofer{
	position: absolute;
    right: 15px;
    top: -25px;
	text-align:center;
	height: 150px;
    width: 150px;
	background:url(../img/descuento.png) no-repeat center;
	background-size:contain;
	}
.detalle .ofer #descuento{
	color:#FFFFFF;
    padding-top: 36px;
    display: block;
    font-size: 45px;
	text-shadow:2px 2px 3px #191919,
				3px 3px	4px #424242;
	}	
.detalle .code{

	}	
.detalle .genvio {
	background:url(../img/truck.png) no-repeat left;
	padding-left:40px;
	background-size:contain;
	width:75px;
	}	
.detalle .enviogratis {
    width: 168px;
    margin-left: 10px;
}
.detalle .product-label{
	width: 115px;
    height: 99px;
    position: absolute;
    top: -7px;
    right: -2px;
    padding-left: 0px;
    z-index: 9;
	}	
.detalle .usado-label {
    top: -6px;
    left: 9px;
	z-index:9;
}
.detalle .oferta{
	background:url(../img/oferta.gif) no-repeat center;
	background-size:contain;
	}
.detalle .recomendado{
	background:url(../img/recomendado.png) no-repeat center;
	background-size:contain;
	}	
.detalle .masvendido{
	background:url(../img/masvendido.png) no-repeat center;
	background-size:contain;
	}
.detalle .moneda{
	font-size:24px;
	}
.detalle .precio{
	margin-top:30px;
	text-align:center;
	}		
.detalle .pantes{
	position:relative;
	background:url(../img/pantes.png) no-repeat top center;
	}	
.detalle .antes{
	color:#4A4A4A;
	font-size:24px;
	}	
.detalle .ahora{
	color:#9F0D0F;
	font-size:34px;
	font-weight:bold;
	}
.detalle .pantes:after{
	position:relative;
	display:block;
	content:'Antes';
	}
.owl-carousel .owl-item img{
	width:260px !important
	}
.modal-body ol, .modal-body ul{
	padding-left:10px;
	}	
.modal-body h4{
	margin-bottom:0px;
	color: #045d13;
	}
.modal-title{
	text-align:center;
	}
#slides_control > div{
  height: 360px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
.carrusel{
	clear: both;
	position: relative;
	height: 360px;
	}
.carousel-indicators li{
	background-color:#518E5C;
	}
.carousel-indicators .active {
    background-color: #00CD04 !important;
}
.detalle #theOwlCarousel{
    height: auto;
    padding-bottom: 20px;
}
.detalle #theOwlCarousel .item{
  margin: 3px;
}
.detalle #theOwlCarousel .item{
  display: block;
  width: 100%;
  height: auto;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
#datos{
	font-family:'open_sansregular';
	}
@media (max-width: 767px) {
.detalle #nombre h1 {
    font-size: 20px;
	}
#imagen{
}
.detalle .productbox {
	min-height:155px;
    height: 155px;
	}
.detalle .code {
    margin-top: 10px;
	}	
.detalle .product-label {
    width: 121px;
    height: 66px;
    top: -10px;
    right: -2px;
	}
.detalle .usado-label {
    top: -7px;
    left: 9px;
}	
.detalle .genvio {
    margin: 0 0 -70px;
    top: -60px;
	}
.detalle .ofer {
	top:-8px;
	right:-20px;
    height: 80px;
}	
.detalle .ofer #descuento{
	padding-top:20px;
	font-size:24px;
	}
.detalle .input-group-btn .btn {
    padding: 6px 6px;
	}
.detalle #theCarousel{
    height: 375px;
	}	
}