/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fin Reset*/
html{
	width:100%;
	}
body{
	background-color:#F4F4F4;
	}
nav{
	background:url(../img/nvbckgrnd.jpg) repeat-x;
    height: 188px;
    padding-top:40px;
	}
.container{
	width:1024px;
	margin:auto;
	}
.imgs{
	width:750px;
	}	
.imginfo{
	padding:20px 0;
	width:100%;
	}	
.navlogo{
	margin:auto;
	width:900px;
	height:150px;
	}
.footlogo{
	padding-top: 68px;
    margin: auto auto -20px;
	width:600px;
	height:100px;
	}		
.logo{
	background:url(../img/corporacionmultiequposcolor.png) no-repeat center;
	background-size:contain;
	}
.contacto{
	font-size:20px;
	text-align:center;
	color:#B3B3B3;
    padding-bottom: 31px;
    line-height: 22px;
	}		
footer{
	background:url(../img/prfttrbckgrnd.jpg) repeat-x;
	position:relative;
	}
.endpage{
	color:#5B5B5B;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	background:url(../img/ndftrbckgrnd.jpg) repeat-x;
	height: 42px;
    padding-top: 30px;
	}	