.table-bordered {
    font-size: 11px;
	}
.error{
	color:#FF0004;
	font-weight:bold;
	}
.user-panel {
    padding: 5px 0 50px;
	}
.optionsicons{
	font-size:20px;
	cursor:pointer;
	opacity:0.8;
	}
.optionsicons:hover{
	opacity:1;
	}
input[type=checkbox].check_01{
	display: none;
	}
input[type=checkbox].check_01 + label { 
	background: #fff; 
	display: inline-block; 
    width: 80px;
    height: 80px; 
	background: url('http://saenca.com.ve/img/check_01.png') 0px 0px no-repeat; 
	text-indent: -1000em; 
}
input[type=checkbox].check_01:checked + label{ 
	background: url(../img/check_01.png) -80px 0px no-repeat;
	}
.dropfoto{
	font-size:36px;
	color:rgba(255,17,17,1.00);
	opacity:0.5;
	z-index:99;
	cursor:pointer;
	margin-right: -20px;
	}
.dropfoto:hover{
	opacity:1;
	}
#image-preview1,#image-preview2, #image-preview3{
  width:auto;
  padding:20px 0;
  position: relative;
  background-size:contain;
  overflow: hidden;
  background-color:rgba(255,255,255,0.5);
  color:rgba(55,55,55,1.00);
  input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
.upload  label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }	
/*Jquery Confirm*/

#confirmOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:url('../img/ie.png');
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	z-index:100000;
}

#confirmBox{
	border-radius: 22px;
	background:#F5F5F5;
	width:460px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-130px 0 0 -230px;
	border: 1px solid rgba(33, 33, 33, 0.6);
	
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

#confirmBox h1,
#confirmBox p{
	font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
	padding: 18px 25px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	color:#666;
}

#confirmBox h1{
	text-align:center;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#confirmBox p{
	background:none;
	font-size:18px;
	line-height:1.4;
	padding-top: 35px;
	text-align:center;
}

#confirmButtons{
	padding:15px 0 25px;
	text-align:center;
}

#confirmBox .button{
    width: 125px;
    margin: 0 8px;
}
.dropdown-menu {
    position:relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float:none;
    min-width: 160px;
    padding: 5px 0;
    margin:0; 
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #FFF;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/*#confirmBox .button:last-child{	margin-right:0;}

#confirmBox .button span{
	position:absolute;
	top:0;
	right:-5px;
	background:url('../img/buttons.png') no-repeat;
	width:5px;
	height:33px
}*/

#confirmBox .blue{				background-position:left top;text-shadow:1px 1px 0 #5889a2;}
#confirmBox .blue span{			background-position:-195px 0;}
#confirmBox .blue:hover{		background-position:left bottom;}
#confirmBox .blue:hover span{	background-position:-195px bottom;}

#confirmBox .gray{				background-position:-200px top;text-shadow:1px 1px 0 #707070;}
#confirmBox .gray span{			background-position:-395px 0;}
#confirmBox .gray:hover{		background-position:-200px bottom;}
#confirmBox .gray:hover span{	background-position:-395px bottom;}

/*End Jquery Confirm*/

#message{ 
	cursor:pointer;  
    display: block;
   	position: absolute;
    width: 100%;
    z-index: 9999;
    text-align: center;
    background-image: -webkit-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: -o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));
    background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
    background-repeat: repeat-x;
    border-color: #f5e79e;
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}