h3 span{
	color:#D90003;
	}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
header, footer, h2, p, #sliderzone, #myparallaxslider, div.parallaxslider,
#shop-cart, .cajaexterna, .buscador, #copyrigth{
	background:none;
	visibility:hidden;
	display:none !important;	
	}
#tablanota, .nota {
    width: 100%;
    box-shadow: none;
}
.noprint{
	display:none !important;
}
#tablanota {
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    overflow: hidden;
}
.creator{
	display:none;
}