@import 'https://fonts.googleapis.com/css?family=Heebo|Open+Sans|Pavanam';
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow';
@import '../fonts/fonts.css';
body{
	font-family: 'Heebo', sans-serif;
	font-size:14px;
	margin:0px;
	}
h3{
	padding-left:30px;
	}
.no-padding{
	padding:0px !important;
	}	
.text-center{
	padding-top:25px;
	text-align:center;
	}
#shop-cart{
	top:0 !important;
	position: relative;
	cursor:pointer;
	transform: translateX(-50%);
	padding:20px 20px 20px 85px;
	background:transparent url(../img/cart.png) no-repeat center;
	background-size:contain;
	}	
#shop-cart:hover, #shop-cart:focus, #shop-cart:active{
	}
#numero{
	display:inline-block;
	border-radius:30px;
	background-color:#009a00;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	position:relative;
    top: -5px;
    right:45px;
    padding: 3px 9px;
	}	
.dialog {
  position: absolute;
  width: 430px;
  max-height: 600px;
  padding:10px 5px;
  text-align: center;
  top: 96%;
  right: 23%;
  background:#FFFFFF;
  margin: 13px 0 4px 4px;
  display: inline-block;
  box-shadow: 0px 0px 8px #9C9C9C;
  z-index:999;
  overflow-y: auto;
}
.dialog:after,
.dialog:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #5CB85C;
  border-width: 15px;
  left: 93%;
  margin-left: -15px;
}
.dialog:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #5189B5;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #5C9CCE;
  ele-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog .title:first-child {
  margin-top: -4px;
}
/*MENU NAVEGACION*/
#productlist > div{
	overflow:hidden;
	}
/*FIN MENU NAVEGACION*/
/*CARRITO DE COMPRAS*/
#contenidoCarrito legend{
	margin-bottom:0;
	text-align:center;
	padding-right:10px;
	font-size:16px;
	}
.bs{
	font-size:9px;
	font-weight:bold;
	padding-right:4px;
	}	
.comma{
	font-size:12px;
	padding-bottom:4px;
	vertical-align:text-top;
	}
.marcaprod{
	width: 40px;
    height: 40px;
    float: right;
    margin-top: -15px;
	}	
#contenidoCarrito{
	position:absolute;
	top:0px;
	right:0;
	z-index:999;
	}	
#contenidoCarrito table{
	width: 295px;
	border:1px #B1B1B1 solid;
	ele-shadow:3px 3px 3px #C9C9C9;
	background-color: white;
	} 
#contenidoCarrito table th{
	text-align: center;
	padding:5px;
	background-color:#5CB85C;
	color:#FFFFFF;
	}
#contenidoCarrito table td{
	text-align:center;
	padding:3px;
	}
#articulos{
	background-color: rgba(247, 247, 247, .6);
	color:#292929;
	}
#formpedido{
	font-family: 'Open Sans', sans-serif;
	}
#productlist li {
  display: block;
  margin-bottom: 15px;
  text-align:left;
  max-width:365px;
}
#productlist .clearfix::after{
	content:'';
	display: block;
	border-bottom:1px solid #eaeaea;
}
#productlist li h4{
	font-weight:bold;
	color:#494949;
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #eaeaea;
	}
#productlist li img {
  display: block;
  margin-right: 10px;
  float:left;
}
#productlist li .details {
  display: block;
  float: left;
  width: 180px;
}
.item-price, .quantity{
	color:#747474;
	display:block;
	}
.delete {
	color:#E50003;
    display: block;
    padding: 15px 0;
}
.productimg { 
	float:left;
	width:100px;
	height:100px;
	margin-right: 5px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}
/*FIN CARRITO DE COMPRAS*/
.loading{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#FFFFFF url(../img/loading.gif) center no-repeat;
	z-index:999;
	}
.modal-backdrop {
    z-index: -9;
}
.stars{
	text-shadow:1px 1px 2px rgba(47,47,47,1.00);
	}
.filled{
	color:rgba(255,221,0,1.00);
	}
.empty{
	color:rgba(240,240,240,1.00);
	}
#closemodal{
	width:25%;
	margin: auto;
	}
.after-slider{	
	background:url(../img/sectiontop.jpg) repeat-x top;
}
.buscador{
	padding:15px 0px;
	background: -webkit-linear-gradient(#009003, #22bb25,#009003);
	background: -moz-linear-gradient(#009003, #22bb25,#009003);
	background: -ms-gradient(#009003, #22bb25,#009003);
	background: -o-gradient(#009003, #22bb25,#009003);
	background: linear-gradient(#009003, #22bb25,#009003);
}
.buscador .btn-search{
	background-color:#006d02;
    color: #fff;
	}
/*Testimonios*/
.testimonio{
	padding:20px 15px;
	border-bottom:#C0C0C0 1px solid;
	}
.testimonio h3{
	padding-left:0px;
	}
.testimonio p{
	font-style:italic;
	font-size:18px;
	}
.testimonio .fecha{
	display:block;
	text-align:right;
	margin-right:40px;
	}
/*Form Control*/
.input-group .cantidad{
	float:right;
	border-radius:4px 0 0 4px;
	height: 42px;
    padding: 5px;
	}
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	}
/*End Form Control*/
.vaciar{margin:0 0 20px 0;}
/* SLIDER STYLES */
.slider-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.img-carousel{
	max-height:250px;
	max-width:300px;
	}
/*************************************Fraction Slider*/	
.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5;
}

.fraction-slider .active-slide{
	z-index:9;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7;
}

.fraction-slider .fs_fixed_obj{
	z-index:6;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	background:url(../images/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS *

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:45px; height:45px;
	z-index:9;
}

.fraction-slider .prev{
	left:10px; top:48%;
	background:url(../images/fs.prevnext.png) 13px 19px no-repeat transparent;
	opacity:0.5;
}
.fraction-slider .prev:hover{
	opacity:1;
}

.fraction-slider .next{
	right:10px; top:48%;
	background:url(../images/fs.prevnext.png) -35px 18px no-repeat transparent;
	opacity:0.5;
}
.fraction-slider .next:hover{
	opacity:1;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(../images/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	background:url(../images/fs.pager.png) 0px 0px no-repeat transparent;
}
/*************************************Fraction Slider*/	
/*Carousel*/
#myparallaxslider{ /* CSS for specific carousel container called #myparallaxslider. */
margin-top:1px;
width:100%;
height: 550px;
z-index:9;
}

/* ######### Shared CSS for various parts of slider (in the event of multiple sliders) ######### */

div.parallaxslider{ /* shared CSS for main carousel container */
background: #FFFFFF url(../img/loading.gif) center center no-repeat; /* loading gif while caoursel is loading */
}

div.parallaxslider img.navbutton{ /* CSS for the nav buttons */
}

div.parallaxslider *{
-webkit-ele-sizing: border-ele;
-moz-ele-sizing: border-ele;
ele-sizing: border-ele;
}

div.parallaxslider div.slide{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: none;
}

div.parallaxslider div.slide div.bgoverlay{ /* CSS for each image's DIV container within main container */
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	background-position: center center; /* center image within carousel */
	background-repeat: no-repeat;
	background-size: contain; /* CSS3 property to scale image within container? "cover" or "contain" */
}

div.parallaxslider div.selectedslide{ /* CSS for currently selected slide */
}

div.parallaxslider div.slide div.desc{ /* DIV that contains the textual description inside .slide */
position: absolute;
color: white;
padding: 8px;
text-shadow: 0 -1px 1px #8a8a8a; /* CSS3 text shadow */
z-index:5;
pointer-events: none; /* keep this property intact. Disable pointer events on desc divs themselves */
}

div.parallaxslider div.slide div.desc *{
pointer-events: auto; /* keep this property intact. Enable pointer events on individual elements within desc divs, such as links */
}

div.parallaxslider div.selectedslide div.desc{ /* CSS for currently selected slide's desc div */
}


div.parallaxslider div.slide div.desc a{
color:yellow;
text-decoration:none;
}
/*End Carousel*/			
/*Ventana Modal*/
.cajaexterna {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}
.cajainterna {
	border-radius:20px;
	background: #fff;
	margin: 6em auto 0;
	position: relative;
	width: 90%;
}
.cajacentrada {
	margin: 0 auto;
	text-align: center;
	padding: 1em;
}
.cajacentrada h2 {
	background: none repeat scroll 0 0 black;
	ele-sizing: border-ele;
	color: white;
	font-size: 15px;
	left: 0;
	margin: 0;
	padding: 5px;
	position: absolute;
	text-align: left;
	top: 0;
	width: 100%;
}
.cajacentrada p {
	margin-top: 30px;
}
.cerrar {
	position: absolute;
	right: 16px;
	top: 13px;
}
.router{
	font-family: 'Open Sans', sans-serif;
	}
/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
		  animation-iteration-count: infinite;
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3);
  }

  20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
			transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
	-webkit-transform: scale3d(.9, .9, .9);
			transform: scale3d(.9, .9, .9);
  }

  60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
			transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
	-webkit-transform: scale3d(.97, .97, .97);
			transform: scale3d(.97, .97, .97);
  }

  100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
		  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
		  animation-duration: .75s;
}
.element.bounceIn {    
	-webkit-animation: bounceIn .7s 1;
	-moz-animation: bounceIn .7s 1;
	-o-animation: bounceIn .7s 1;
	animation: bounceIn .7s 1;
}
/*Fin Ventana Modal*/
#slidercontainer{
	background:url(../img/sliderbckgrnd.jpg) repeat-x;
	}	
#myCarousel{
	height:363px;
	}
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.carousel-indicators .active {
    background-color: #0296DD;
	}
.logo{
	float:left;
	}
/*.barra-nav{
	overflow:hidden;
	}	
.navbar{
	margin-top:-1px;
	background:rgba(255,255,255,1.00);
	margin-bottom:0;
	min-height: 80px;
	}
.navbar-nav {
	position: relative;
	left: 15px;
	top: 101px;
	}

.barra-nav{
	border-radius:0;
	ele-shadow:0 2px 15px #ACACAC;
	z-index:1000;
	}
.navbar-nav li{
	padding:0;
	text-align:center;
	}
.navbar-default  .navbar-nav > li > a{
	font-size: 16px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	color:rgba(135,135,135,1.00);
	padding: 20px 10px;
	background: rgba(245,245,245,0.7);
	ele-shadow: 1px -1px 3px #E0E0E0;
	transition:background 1.2s;
	}
.navbar-default  .navbar-nav > li > a:hover{
	color:rgba(0,0,0,1.00);
	background:rgb(132, 249, 134);
	}	
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	font-weight:bold;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg,#22BB25, #49f13e, #22BB25);
	background: -webkit-linear-gradient(45deg,#22BB25, #49f13e, #22BB25);
	background: -moz- linear-gradient(45deg,#22BB25, #49f13e, #22BB25);
	background: -ms-linear-gradient(45deg,#22BB25, #49f13e, #22BB25);
	background: -o-linear-gradient(45deg,#22BB25, #49f13e, #22BB25);
	text-shadow: 1px -1px 1px #7b7b7b;
	ele-shadow:1px -1px 3px #B1B1B1;
	}	
.navbar-nav li:after{
	display: block;
    content: " ";
	background:url(../img/nav_separator.png) no-repeat;
	background-size:contain;
    margin-top: -65px;
    margin-left: -1px;
    opacity: 0.2;
	height: 56px;
    width: 7px;
	}
.navbar-brand {
    float: left;
    height: 160px;
    padding: 4px 0px;
    font-size: 0px;
    line-height:0px;
	display:block;
	vertical-align:middle;
}
.navbar-default .navbar-toggle {
	border:none;
	}*/
.btn-success{
	background: #009a00;
	}	
.btn-info {
    color: #fff;
    background-color: #860000;
    border-color: #B70000;
	}
.btn-info:hover {
    background-color: #D53131;
    border-color: #BC2626;
	}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #D2D2D2;
    background-color: #D53131;
    border-color: #BC2626;
	}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
    color: #D2D2D2;
    background-color: #BC2626;
    border-color: #851B1B;
}
#info{
	font-family: 'Open Sans', sans-serif;
	background:#ECECEC;
	border-bottom:#C8C8C8;
	border-top:#C8C8C8;
	overflow:hidden;
	text-align:center;
	}
.infopedido{
	width:100%;
	}
.shortscroll{
	padding:0;
	margin:0;
	font-size:9px;
	display: none
	}	
.step {
	font-size:175px;
	padding-right:0;
	line-height:1;
	z-index:0;
}	
.step-instruction{
	    padding: 35px 0 25px 45px;
	z-index:1;
	}
.boton{
    font-size: 13px;
    color: #5BC0DE;
    padding: 10px 5px;
    background: #FFFFFF;
    border: 1px solid #5BC0DE;
    border-radius: 3px;
    ele-shadow: 1px 1px 1px #CFCFCF;
    position: absolute;
    bottom: 0;
    right: 25%;
    margin-bottom: 12px;
}
.boton:active{
	ele-shadow:-1px -1px 0px #CFCFCF;
	}
button[disabled], button[disabled]:hover{
    color: #003501;
    border: 1px solid #8FFFAC;
	ele-shadow:0px 0px 0px #FFFFFF;
	opacity: .5;
	}
.agotado{
	position:absolute;
	width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 3;
	}	
.agotado::before{
	position:absolute;
	top: 38%;
    left: 22%;
    content: 'AGOTADO';
    display: inline-block;
    color: #FF0004;
    font-weight: bold;
    font-size: 24px;
    z-index: 5;
	transform: rotate(35deg);
	}
.productbox{
	font-family: 'Open Sans', sans-serif;
	/*ele-shadow:0px 0px 2px #D1D1D1; */
	position:relative;
	opacity:0.85;
	transition:opacity 0.5s ease;
	min-height:365px;
	max-width:255px;
	}
.productbox:hover{
	opacity:1;
	}
.productbox form{
	width:100%;
	overflow:hidden;
	ele-shadow: 0px 0px 2px #D1D1D1;
    padding: 13px 5px;
	z-index:1;
	}
.productbox-foot{
    background: url(../img/bxshdw.png) no-repeat center bottom;
	background-size: contain;
    bottom: 3px;
    position: relative;
	padding: 2px 0 19px;
	}
.productbox + .productbox-foot{
	opacity: 0.5;
	transition:opacity 0.5s ease;
	}	
.productbox:hover + .productbox-foot{
	opacity: 0;
	}
.productbox, .productbox p{
	text-align:center;
	}
.imglink{
	padding: 10px;
	max-height:145px;
	min-height:145px;
	background:transparent url(../img/fs.spinner.gif) no-repeat center;
	}
.img-service{
	margin:auto;
	width: 257px;
    height: 257px;
	padding-bottom:5px;
	}	
.moneda{
	font-size:11px;
	}	
.precio{
	position:relative;
	padding:0;
	margin:0;
	line-height: 20px;
	text-align: center;
	vertical-align:middle;
	}
.pantes{
	background:url(../img/pantes.png) no-repeat center;
	background-size: contain;
	}	
.antes{
	color:#9C9C9C;
	font-size: 16px;
	}	
.ahora{
	color:#1F1F1F;
	font-size:16px;
	}	
#customerservice{
	background:url(../img/customerservice.png) no-repeat;
	background-position:left;
	}	
.carousel-control {
    width: 5%;
}
.usado-label{
	position:absolute;
	top: -7px;
    left: -7px;
	background:url(../img/usado.png) no-repeat left;
	background-size:contain;
    width: 100px;
    height: 100px;
	z-index: 5;
	}
.productbox .product-label{
    width: 92px;
    height:52px;
    position: absolute;
    top: 4px;
    right: -14px;
    padding-left: 0px;
    z-index: 9;
	}	
.oferta{
	background:url(../img/oferta.gif) no-repeat center;
	background-size:contain;
	}
.recomendado{
	background:url(../img/recomendado.png) no-repeat center;
	background-size:contain;
	}	
.masvendido{
	background:url(../img/masvendido.png) no-repeat center;
	background-size:contain;
	}	
.productbox .productname{
	font-family: 'Archivo Narrow', sans-serif;
	text-align:left;
	font-size: 14px;
	margin: 0px;
    padding:0px;
	margin-bottom:-10px;
	}
.productbox .productname b{
	font-size:10px;	
	}
.productbox label{
	font-weight:lighter;
	}
.genvio{
	color:#00C0FB;
	}
.linkproduct, .linkproduct .productbox, .linkproduct .productbox b{
	color:#232323;
	text-decoration:none;
	}
.descripcion{
	clear:both;
	font-size:14px;
	}
.descripcion ul{
	text-align:left;
	padding:0 20px;
	list-style:circle;
	}
.category-label{
	text-transform:uppercase;
	position:fixed;
	bottom:45px;
	left:0px;
	padding:25px 20px;
	background:#FF6400;
	color:#FFFFFF;
	cursor:pointer;
	border-radius: 0 8px 8px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	z-index: 99;
	}
.category-label:hover{
	padding-left:40px;
	}
.modalview .category-label{
	display:none;
	}
.pedido{
	width:700px;
	margin:auto;
	padding:20px 10px;
	}
.pedido label{
	display:block;
	width:350px;
	color:#464646;
	}
.pedido input[type="text"],
.pedido textarea{
	padding:3px;
	border-radius:5px;
	width:600px;
	}	
.pedido textarea{
	-webkit-appearance: textfield;
    background-color: white;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
	width:600px;
	}
.pedido textarea + span,
.pedido input[type="text"]+span{
	display: block;
	font-style:italic;
	}
.pedido .captcha .label label{
	width: 190px;
    margin: 0;
    padding: 0px;
}	
.pedido .captchainput label{
	display:block;
	width: 100%;
	color:#464646;
	font-size:14px;
	text-align:center;
	}	
.pedido .captchainput .error{
	color:#A80002;
	}
.pedido .captchainput input[type="text"]{
	width:100px;
	margin: auto;
	}
.pedido .captchainput{
	margin:auto;
	}
.pedido .error{
	display:block;
	color:#A80002;
	}	
.pedido div{
	margin-top:15px;
	}
.pedido legend{
	margin-top: -5px;
	}		
.pedido table{
	margin-top:20px;
	}
.infopedido thead th{
	border-bottom:1px solid #D5D5D5;
	}
.infopedido tbody td{
	border-bottom:1px solid rgba(234, 234, 234, .4);
	}	
.infopedido tfoot td{
	height:32px;
	}
.cupon{
	font-size: 24px;
    color: #1AC438;
    transform: rotate(45deg);
    margin-left: 20px;
    opacity: 0.9;
	}
.cupon.no-cupon{
	color:#8CC396;
	}
.no-cupon::after{
	position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    content: "\e014";
    transform: rotate(45deg);
    left: -21px;
    top: -1px;
    color: #f00;
	}	
.pedido .indi{
	display:block;
	font-style:italic;
	}
.redes{
	overflow:hidden;
	position:relative;
	text-align: center;
	}
.red{
    width: 80px;
    height: 82px;
	float:left;
	}
.red-facebook{
	background:url(../img/facebook.png) no-repeat 0 0;
	}	
.red-facebook:active{
	background:url(../img/facebook.png) no-repeat 0 -83px;
	}
.red-twitter{
	background:url(../img/twitter.png) no-repeat 0 0;
	}
.red-twitter:active{
	background:url(../img/twitter.png) no-repeat 0 -83px;
	}	
.redes img:hover{
	opacity:1;
	}	
#txtred{
	height:265px;
	z-index: 1;
	text-align:center;
	background:url(../img/nf1bckgrnd0.jpg) repeat-x;
	}
#red{
	position:absolute;
	text-align:center;
	left:40%;
	}	
#red p{
	color:#FFFFFF;
	text-shadow:2px 2px 2px #000000,
				3px 3px 3px #000000,
				4px 4px 4px #000000,
				5px 5px 5px #1F1F1F;
	font-size:40px;
	vertical-align:middle;
	}	
#red h1{
	margin-top:-10px;
	color:#FFFFFF;
	font-size:50px;
	text-shadow:2px 2px 2px #000000,
				3px 3px 3px #000000,
				4px 4px 4px #000000,
				5px 5px 5px #1F1F1F;
	}		
.info1{
	background:url(../img/bckgrnd1.jpg) repeat-x;
	height:385px;
	margin-top:0px;
	z-index:-1;
	font-size:20px;
	}

#ml{
	margin: 5px 0;
    width: 100%;
    height: 150px;
    background: url(../img/MercadoLibre.gif) no-repeat center;
    background-size: contain;
	}		
.info1 p{
	padding:60px 0;
	}
#logoml{
	margin:auto;
	height:310px;
	overflow:hidden;
	background:url(../img/mllogo.png) no-repeat center;
	background-size:contain;
	}	
#handml{
	margin:auto;
	height:310px;
	overflow:hidden;
	background:url(../img/hand.png) no-repeat center;
	background-size:contain;
	}
#reputationml{
	margin:auto;
	height:310px;
	overflow:hidden;
	background:url(../img/reputacion.png) no-repeat center;
	background-size:contain;
	}
#doc{
    background: url(../img/doc.png) no-repeat bottom;
	background-size:contain;
    height: 387px;
    margin-top: -2px;
    float: right;
	z-index:1;
	}
#myModal{
	background-color:rgba(255,255,255,.6)
	}
.modal-backdrop{
	background:none !important;
	}
/*EMPRESA*/
#nombreempresa{
	display:block;
	background:url(../img/logo.gif) no-repeat center;
	text-indent:-9999px;
	height:148px;
	background-size:contain;
    padding: 10px 0 0;
    margin:40px 0 5px;
	}	
.empresa p{
    text-indent: 50px;
    padding: 5px 0 15px;
    text-align: justify;
    text-justify: distribute;
	}
blockquote {
     border-left: none;
    text-align: center;
}
.misvion{
	font-family: 'Open Sans', sans-serif;
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
	background:#FBFBFB;
	overflow:hidden;
	}
/*Contacto*/
#resp{
	margin:20px 0;
	}	
#resp i{
	margin: 20px;
    padding: 15px;
    background: #2bc107;
    border-radius: 75px;
    color: #fff;
    font-size: 60px;
	}
.contact-medi{
	list-style:none;
	line-height:35px;
	}
.contact-medi a{
	color: #777777;
	text-shadow: 0 0 3px #fff,
				 0 0 5px #fff;
	}
.contact-medi .glyphicon{
	font-size:20px;
	color:#777777;
	}
/*Fin Contacto*/	
.footer{
	position:relative;
	padding:30px 0px 10px;
	background:url(../img/ftrbckgrnd.jpg) repeat;
	font-size:16px;
	color:#FFFFFF;
	text-shadow:1px 1px 1px #000000;
	}
.footer::before{
    content: '';
    display: block;
    width: 100%;
    background: url(../img/pagvsftr.jpg) repeat-x top;
    padding: 7px;
    position: relative;
    bottom: 32px;
	}
.footer a{
	text-align:center;
	color:#BBBBBB;
	}
.footer a:hover{
	color:#E8E8E8;
	ele-shadow:none;
	text-decoration:none;
	}
.footer ul li{
	list-style:none;
	text-align: center;
	padding: 6px 0;
	}	
.footer .f_limit:before{
	display:block;
	content:'';
	width:4px;
	height:146px;
	float:right;
	background:url(../img/footer_separator.png) no-repeat center;
	}	
.emblem{
    opacity: 1;
	cursor:pointer;
	background:url(../img/logo.png) no-repeat top;
	background-size:contain;
	padding: 65px 1px;
	}
.emblem::after{
    content: "J-407695320";
    display: block;
    position: relative;
    top: 28px;
    margin-bottom: -20px;
	}
.creator{
	display: inline-block;
	position:relative;
	top:31px;
	cursor:pointer;
    width: 130px;
    padding:29px 0;
    background:url(../img/LV3021.png) no-repeat bottom;
	opacity:0.5;
	transition: background 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
.creator:hover{
	opacity:1;
	 background:url(../img/LV3021.png) no-repeat top;
	}
#up{
	width:50px;
	height:50px;
	position:fixed;
	top:50%;
	right:35px;
	cursor:pointer;
	background:url(../img/FlechaArriba.png) no-repeat center;
	background-size:contain;
	opacity:0.3;
	}
#up:hover{
	opacity:0.8;
	}	
#copyrigth{
	padding:10px 0px;
	text-align:center;
	color: #464646;
	font-weight:bold;
	background:#262626 url(../img/copybckgrnd.jpg) repeat-x top;
	width:100%;
	}
.term{
	background:url(../img/logo_blur.png) no-repeat center;
	background-size:contain;
	padding-bottom:80px;
	}
.term h2{
	font-style:italic;
	text-align:center;
	}	
.term ol li{
	text-shadow:0px 0px 2px #FFFFFF;
	text-indent:5px;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
	}
.img-responsive, 
.thumbnail > img, 
.thumbnail a > img, 
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
	margin:auto;
	}
.carousel-control.left{
	background-image:none;
	}	
.carousel-control.right{
	background-image:none;
	}
.input-group-addon{
	color: #FFF;
	background-color: #00750e;
    border: 1px solid #00750e;
}
.captcha{
    width: 110px;
    padding: 0px;
	background:none;
    border:none;
}
.captcha img{
	cursor:pointer;
	border-radius: 5px 0 0 5px;
	background:none;
	}
#captcha{
	padding: 24px 13px;
}
.contenido {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
	color: #FFF;
    background-color: #00750E;
    border: 1px solid #005D18;
    text-align: center;
    border-radius: 4px 4px 0 0;
}
.contenidotexta {
    display: block;
    width: 100%;
    height: 95px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    -webkit-ele-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    ele-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-ele-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, ele-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, ele-shadow ease-in-out .15s;
    margin-bottom: 10px;
}
.enviar {
    margin: 10px 0;
	text-align: center;
}
.enviar .btn-lg
{
	text-align:center;
	margin:auto;
}
.label{
	color:#000000;
	}
.spacebefore{
	padding:20px 0;
	min-height:550px;
	}
#procategoria{
    margin: 70px 0 30px;
	}	
.info{
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	line-height: 24px;
	}
.info h3{
	padding:0 0 5px 0;
	}		
#info p{
	margin:0 10px 40px 10px;
	font-size:14px;
	}	
#map-container { 
	height: 300px 
	}	
.nota{
	width:100%;
	}
#tablanota{
	width:800px;
	margin:30px auto;
	padding:20px;
	overflow:hidden;
	ele-shadow:1px 1px 3px #ABABAB;
	}
.nota .printed td{
	padding:3px;
	border:1px solid #BDBDBD;
	}
.nota img{
	width:50%;
	}
.marca img{
	width:100px;
	vertical-align:middle;
	text-align:center;
	}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
	
@media screen and (max-width: 800px) {
.navbar-brand{
	width:295px;
    padding: 90px 0;
	position: absolute;
	}	
.navbar-nav {
	left: 80px;
	}
.navbar-default .navbar-nav > li > a {
    padding: 30px 8px;
	}
.navbar-nav li {
    float: left;
    position: relative;
    right: 20%;
}
.footer {
    padding: 25px 0px;
	}
.footer .f_limit:before {
    display:none;
	}
.copyrigth {
    padding: 0 0;
	}
}
@media only screen and (max-width: 767px) {
	.input-group .cantidad {
		float: right;
		border-radius: 4px 0 0 4px;
		height: 42px;
		padding: 5px;
		width: 45px;
	}
}