/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (min-width: 992px) {
	/****Ipad Landscape 1024 Container 970 ****/
	
	.service-list{ margin-bottom:30px;}
	.c-logo-part ul li{ margin:0 15px;}
	.form{ margin:0 0 0 20px}
	.main-nav{ display:block !important; }
	/*.portfolioContainer{ width:800px; margin:0px auto !important; } */ 
	.navbar-brand {width: 300px;}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: -55px;}
}	
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/****Ipad Portrait 768 Container 750 ****/
	body{ font-size:13px;}
	p{ line-height:20px ;}
	.header h1{ font-size:46px;}
	.main-nav ul li a{ padding:14px;}
	.small-logo{ padding:0 20px;}
	h2{ font-size:30px}
	h6{ font-size:16px;}
	h3{ font-size:15px;}
	.service-list{ margin-bottom:20px; font-size:15px;}
	.featured-work p.padding-b{ padding-bottom:15px;}
	.main-section{ padding:70px 0;}
	.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
	.c-logo-part ul li a{ display:block;}
	.c-logo-part ul li a img{ display:block;}
	.form{ margin:0;}
	.contact-info-box{ margin:0 ;}
	.social-link{ margin:0;}
	
	.main-nav{ display:block !important; }
	.main-nav li a{ padding:8px 15px;}
	/*.portfolioContainer{ width:750px; margin:0px auto !important; }
	.Portfolio-box{ height:250px;}*/
	
	 
	
}

@media only screen and (max-width: 767px) {
	/****Mobile Landscape 480 Container 100% ****/
	body{ font-size:12px;}
	h2{ font-size:26px;}
	h3{ font-size:14px;}
	h6{ font-size:16px; margin-bottom:40px;}
	p{ line-height:18px;}
	.service-list{ font-size:12px; margin-bottom:20px;}
	.we-create li{ font-size:13px; padding:0 0 0 8px}
	.header h1{ font-size:28px;}
	.header{ padding:60px 0;}
	.main-section{ padding:60px 0 70px;}
	.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; flote : none; background:#fff;}
	.main-nav li{ display:block;}
	.main-nav li.small-logo{ display:none;}
	.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
	.main-nav li a:hover{color:#7cc576}
	.main-nav li .crearpedido{padding:13px 0;}
	.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
	.team-leader-box:nth-of-type(3n){ margin:0 auto}
	.res-nav_click{ display:block;}
	.main-nav li .vaciar{margin:0 0 20px;padding-top: 0;}
	.featured-work{ font-size:12px; margin-top:30px;}
	.featured-box{ font-size:12px;}
	.featured-box p{ line-height:18px; }
	.input-group-btn{display:inline-block;} 
	.c-logo-part ul a{ margin-bottom:5px;}
	.main-section.team{ padding:60px 0 50px;}
	.business-talking h2{ font-size:36px;}
	.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
	.contact-info-box span{ line-height:18px;}
	.social-link{ margin-left:30px;} 
	.form{ margin:0 30px;}
	.copyright{ font-size:12px;}
	.business-talking a{ padding:10px 25px; font-size:14px;}
	.main-section.contact{ padding:60px 0 70px}
	.client-part-haead{ font-size:20px; line-height:30px;}
	.link{ font-size:14px; padding:10px 25px;}
	.logo{ width:100px;}
	.main-section.contact{ background-size:contain;}
	.Portfolio-nav li a{ padding:5px 16px;}
	.Portfolio-nav li{ display:block;}
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
	#myparallaxslider {height:289px;}
	.creator {top: 10px;}
	.dialog {width: 275px;
    left: -75px;}
#productlist > div {
   min-height:150px;
}
#productlist > div  div{
   padding:0;
}
#productlist > div{
    padding:0;
}
.main-nav .delete a{
    padding:0px;
}
.delete {padding: 0px 0px;}
.productimg{
	width: 75px;
    height: 75px;
	}
.slider-wrapper{
	width:100%;
	height:125px;
}
.barra-nav .navbar{
	height: 420px;
	}	
.logo{
    margin-top: 10px;
    margin-bottom: -10px;
	}
#slidercontainer {
    height: 127px;
}
#cart{
	margin-top:0;
	right:0px;
}
#contenidoCarrito{
	position:relative;
	margin:auto auto;
}
#contenidoCarrito table {
	width:100%;
	}
.navbar-nav {
	margin-top: 0px;
	float:none;
	clear:both;
	text-align:center;
	position:inherit;
	left:auto;
	font-size: 14px;
	}
.navbar-nav li{
	float:none;
	clear:both;
	width:100%;
	position:inherit;
	right:auto;
	background: #E9E9E9;
	}
.navbar-nav li:after{
	display: block;
	background:#E8E8E8;
	width:100%;
	float:none;
	}
.navbar-default .navbar-nav > li > a {
    padding: 20px 0px;
	z-index: 9;
	}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#00A600;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color>#22BB25;;
	margin-top: 17px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
	}
.navbar-default .navbar-toggle{
	margin-top: 17px;
}
.navbar-collapse {
    margin-top:14px;
	margin-bottom: -8px;
}
.navbar-nav li {
	background:#FFFFFF;
	}
.info1 {
    font-size: 12px;
	height: auto;
}
.info1 p {
    padding: 10px 0;
}
.info2 {
	text-align:center;
    font-size: 12px;
}
.carouselpro {
	overflow:hidden;
	}
.carousel_div {
	max-width:330px;
	min-width:290px;
	margin: 0 auto auto 26px;;
}
a.prev1, a.next1{
    width: 43px;
    height: 106px;
	}
a.next1 {
	right: 15px;
	background:url(../img/minisliderarrows.png) -50px -90px no-repeat;
}
a.prev1 {
	left:0px;
	background:url(../img/minisliderarrows.png)  -50px 8px no-repeat;
}
a.next1:active {
	background:url(../img/minisliderarrows.png)    0px -85px no-repeat;
	}
a.prev1:active {
	background:url(../img/minisliderarrows.png) 0px 10px no-repeat;
}		
.productbox {
	margin: 5px 0;
    width: 100%;
	min-height: 365px;
    padding: 5px;
    border-radius: 5px;
	font-size:12px;
}
.productbox .productname {
    padding: 0px 0px 0px;
}
.productbox .product-label {
    top: 12px;
    right: -9px;
}
.usado-label {
    top: -2px;
    left: -2px;
}
.productbox-foot {
    bottom: 0px;
	}
.boton {
    font-size: 12px;
    padding: 7px 2px;
}
.pedido{
	width:100%;
	margin:auto;
	padding:20px 10px;
	}
.pedido label{
	width:100%;
	}
.pedido input[type="text"],
.pedido textarea{
	width:100%;
	}	
.nota{
	width:100%;
	}
#ml {
    height: 140px;
}
#tablanota{
	width:800px;
	margin:30px auto;
	padding:20px;
	overflow:hidden;
	box-shadow:1px 1px 3px #ABABAB;
	}
.nota .printed td{
	padding:3px;
	border:1px solid #BDBDBD;
	}
.nota img{
	width:50%;
	}	
.footer {
    font-size: 12px;
	padding: 17px 0px 0px;
    height: auto;
}
.footer::before{
    bottom: 28px;
	}
.emblem{
	margin-top:30px;
	padding: 60px;
	}	
.emblem::after {
	top: 50px;
	}
#up {
    width: 40px;
    height: 40px;
    right: 5px;
	}
.creator{
	margin: -10px auto 0 auto;
	background-position:top;
    float: none;
	}
.creator:active{
	opacity:1;
	}	
.genvio {
    right: 13px;
    bottom: 105px;
	}	
}

@media only screen and (max-width: 479px) {
	/****Mobile Portrait 320 ****/
	.contact-info-box{ margin-left:0px;}
	.header{ padding:40px;}
	.social-link{ margin-left:0px;}
	.form{ margin:0}
	.c-logo-part ul li{ display:block;}
	.Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
	.Portfolio-box img { max-width:100%;}
	.portfolioContainer{ width:280px !important; margin:0 auto !important } 
}