@import 'ionicons.min.css';
.imglink{
	min-height:50px;
	background:transparent url(../../img/loading.gif) no-repeat center;
	}
.input-search{
	text-align:right;
	float:right;
	}
.carousel-indicators{
	bottom:20px;
	}
.carousel-indicators li{
	background-color: rgb(60, 141, 188);
    border: 1px solid #3c8dbc;
}
.error{
	color:rgba(199,0,3,1.00);
	}
.loading{
	position: absolute;
    background-color:rgba(255,255,255, 1);
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	background-position: 35% 15%;
    width: 100%;
    height: 100%;
    z-index: 999;
	}
.loading:after{
    display: block;
    content: 'Cargando...';
    position: relative;
    top: 36%;
    overflow: hidden;
    left: 34%;
	}
.loading.ng-enter, .loading.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.loading.ng-enter,
.loading.ng-leave.ng-leave-active {
  opacity:0;
}

.loading.ng-leave,
.loading.ng-enter.ng-enter-active {
  opacity:1;
}
.choice{
	cursor:pointer;
	}	
.message{
	font-size:18px;
	font-style:italic;
	}	
.rating .fa{
	font-size:26px;
	}
.rating .fa-star{
	color:#FFD600;
	text-shadow:1px 1px 1px #666666;
	}
.rating .fa-star-o{
	color:#A2A2A2;
	}
#up{
	cursor:pointer;
	position: fixed;
    top: 500px;
    right: 15px;
	}	
.price{
	font-size:20px;
	color:#535353;
	margin-bottom:0;
	}
.price:before{
	content:'Bs  ';
	font-size:12px;
	}
.alertify {
	width: 650px;
    background: #FFF;
    border: 1px solid #ECECEC;
    border: 1px solid rgba(236,236,236,0.80);
    border-radius: 0px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.alertify-message{
	font-size:14px;
	padding-bottom:10px;
}
.alertify-button-cancel:focus{
	box-shadow:0 0 8px #FF0004;
	text-shadow:0 0 3px #FFFFFF;
	}
.alertify-button-ok:focus{
	box-shadow:0 0 8px #42FF00;
	text-shadow:0 0 3px #FFFFFF;
	}
.item:hover{
	background-color:#FBF9C8;
	}	
.delitem, .eye{
	padding:0;margin:0;
	}	
.delitem a{
	font-size:24px;
	color:#9C9C9C;
	}
.delitem a:hover{
	color:#FF0004;
	}
.cond, .vis{
	margin-right:12px;
	}
.vis{
	color:#636363;
	}	
.vis i{
	font-size:18px;
	}	
.eye i{
	font-size:24px;
	margin-right:12px;
	}	    
.eye .open{
	color:#00CB23;
	}
.eye .shut{
	color:#878787;
	}
.quanty{
	font-size:36px;
	font-style:italic;
	color: #bfbfbf;
	position: absolute;
    right: 0;
    top: 5px;
	}
.freesend{
	
	}
.freesend .fa-arrow-left{
	transform:rotate(45deg);
	}
.products-list .product-img img{
	display: block;
    max-width: 100%;
    height: auto;
	}	
.nota .printed td {
    padding: 3px;
    border: 1px solid #BDBDBD;
}
.agotado{
    color: #FF0004;
    font-weight: bold;
	}
.cupon-size{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:18px;
	color:#3D3D3D;
	text-align:center;
	}
.cupon-size.right{
	position:relative;
	top: -132px;
    right: -315px;
	transform: rotate(90deg);
	}
#cupon-prev{
	position:relative;
	margin:auto;
	width:600px;
	height:250px;
	background:url(../../img/plantilla-cupon.jpg);
	opacity:.5;
	}
#cupon-prev::after{
	content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 26px;
    background: url(../../img/cupon-shadow.png) no-repeat center;
    bottom: -250px;
	opacity: .5;
}
.cupon-value{
	color: #3b840b;
	line-height:1;
	}
#cupon-porc{
	position:absolute;
    left: 404px;
    top: 47px;
    font-size: 84px;
	text-align: center
	}
#cupon-porc p{
	font-size:18px;
	margin: 0px 25px;
	line-height:0;
	}
#cupon-mon{
	position:absolute;
    left: 401px;
    top: 53px;
    font-size: 35px;
	text-align:center;
	}
#cupon-mon p {
    font-size: 18px;
    margin: 0px 25px;
}
#cupon-envio{
	position:absolute;
	left: 404px;
    top: 75px;
    font-size: 34px;
	}		
#cupon-code{
	float: left;
    width: 280px;
    text-align: center;
    padding-top: 135px;
    font-size: 40px;
	font-family: monospace;
	text-shadow: 0px 0px 3px #fff, 
				 0px 0px 4px #fff, 
				 0px 0px 5px #fff;
	}
#cupon-valido{
	position: absolute;
    bottom: 10px;
    right: 10px;
	}	
.cupon-enabled{
	opacity:1 !important;
	}