table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
header, footer, h2, p, #sliderzone, #myparallaxslider, div.parallaxslider,
#shop-cart, .cajaexterna, .buscador, #copyrigth{
	background:none;
	visibility:hidden;
	display:none !important;	
	}
#tablanota, .nota {
    width: 100%;
    box-shadow: none;
}
.printed td {
    padding: 3px;
    border: 1px solid #BDBDBD;
}
.noprint{
	display:none !important;
}
.printed th {
	text-align:center;
    padding: 3px;
    border: 1px solid #BDBDBD;
}
#tablanota {
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    overflow: hidden;
}
.creator{
	display:none;
}
.box {
    border-top:none !important;
	}