<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.0
  </div>
  <strong>Copyright © <a href="http://lavictoria3021.com.ve">LaVictoria3021</a> - 2016</strong> All rights reserved.
</footer>