<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Inicio
            <small>Resumen</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-pricetag-outline"></i></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Inventario</span>
                  <span class="info-box-number">{{ main.totali | number }}</span>
                  <span class="description-text">Productos</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-star"></i></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Puntuaci&oacute;n</span>
                  <span class="info-box-number">{{ main.puntuacion | number }} puntos</span>
                  <span class="description-text">Promedio</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Pedidos</span>
                  <span class="info-box-number">{{ main.totalp | number }}</span>
                  <span class="description-text">Realizados</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Visitas</span>
                  <span class="info-box-number">{{ main.visitas | number }}</span>
                  <span class="description-text">Totales</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          <!-- Main row -->
          <div class="row">
          	<div class="col-sm-12">
            	<!-- TABLE: LATEST ORDERS -->
              	<div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Ultimos Pedidos</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                        <tr>
                          <th>Nro Ped.</th>
                          <th>Items</th>
                          <th>Email</th>
                          <th>Telefono</th>
                          <th>Direcci&oacute;n</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="order in main.pedidos">
                          <td valign="middle" style="vertical-align:middle;font-size:16px;"><a href="#/pedidos/{{ order.id }}">{{ order.id }}</a></td>
                          <td>
                          	<ul style="list-style:none;">
                            	<li ng-repeat="item in order.productos">
                                	<b>{{ item.cantidad }}</b> - <i>{{ item.m_nombre }}</i> - {{ item.i_nombre }}
                                </li>
                                <li style="text-align:right"><b>IVA</b>: {{ order.iva }}</li>
                                <li style="text-align:right"><b>Sub</b>: {{ order.sub }}</li>
                                <li style="text-align:right"><b>Total</b>: {{ order.iva + order.sub }}</li>
                            </ul>
                          </td>
                          <td>{{ order.email }}</td>
                          <td>{{ order.telefono }}</td>
                          <td>{{ order.direccion1 }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript::;" class="uppercase">Ver Todos</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
              	<!-- PRODUCT LIST -->
            	<div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Productos recientes</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                	<ul class="products-list product-list-in-box">
                        <li class="item" ng-repeat="item in main.inventario | filter: buscar | orderBy: orden:invertir" id="fila-{{ item.i_id }}">
                            <div class="product-img">
                                <img ng-src="{{ item.p_1 }}" err-src="/img/no-product.jpg" alt="{{ item.i_nombre }}" class="img-responsive imglink" width="50" height="50">
                            </div>              
                            <div class="product-info">
                                <div class="col-sm-8">
                                <span class="quanty">{{ item.i_cantidad | number }}</span>
                                <a href="#/inventario/{{ item.i_id }}" class="product-title">{{ item.i_nombre }}</a>
                                <span ng-if="item.ctrl_nombre!='Ninguno'">
                                    <span ng-if="item.ctrl_nombre =='Oferta'" class="text-green">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                                    <span ng-if="item.ctrl_nombre =='Recomendado'" class="text-yellow">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                                    <span ng-if="item.ctrl_nombre!='Ninguno' && item.ctrl_nombre!='Oferta' && item.ctrl_nombre!='Recomendado'" class="text-red">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                                </span>
                                <span class="product-description">
                                    <i class="fa fa-barcode"></i> {{ item.i_cod | uppercase}}<br>
                                    {{ item.c_nombre }} - {{ item.m_nombre }}
                                </span>
                                </div>
                                <div class="col-sm-4" style="padding-right:45px;">
                                    <span ng-if="item.i_costoenvio!=null || item.i_costoenvio > 0" class="pull-rigth text-green">
                                        <i class="fa fa-truck" title="Envio Gratis"></i>
                                        <small>Gratis</small>
                                    </span>
                                    <p class="price pull-right">{{ item.i_precio | currency:''}}</p>
                                    <div class="clearfix"></div>
                                        <p class="pull-right delitem">
                                        <a class="choice" title="Eliminar" ng-really-message="Se borrara el producto con Codigo {{ item.i_cod | uppercase}}" ng-really-click="remove(item.i_id)">
                                            <i class="icon ion-close"></i>
                                         </a>
                                    </p>
                                    <p class="pull-right eye">
                                        <i title="Inactivo" ng-if="item.i_status == null || item.i_status == 0" class="icon ion-eye-disabled shut"></i>
                                        <i title="Activo" ng-if="item.i_status == 1" class="icon ion-eye open"></i>
                                    </p>
                                    <p class="pull-right cond">
                                        <span title="Nuevo" ng-if="!item.i_condicion || item.i_condicion==0" class="label label-info">NUEVO</span>
                                        <span title="Usado" ng-if="item.i_condicion && item.i_condicion == 1" class="label label-warning">USADO</span>
                                    </p>
                                    <p class="pull-right vis">
                                        <i title="Visitas" class="icon ion-person-stalker">{{ item.i_visitas }}</i>
                                    </p>
                                </div>
                            </div>              
                         </li><!-- /.item -->
                      </ul>
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="#/inventario" class="uppercase">Ver Todos</a>
                </div><!-- /.box-footer -->
              </div><!-- /.box -->
            </div>
            <!-- Left col -->
            <div class="col-md-8">
              <!-- MAP & BOX PANE -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Reporte de Visitantes</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="row">
                    <div class="col-md-9 col-sm-8">
                      <div class="pad">
                        <!-- Map will be created here -->
                        <div id="world-map-markers" style="height: 325px;"></div>
                      </div>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-sm-4">
                      <div class="pad box-pane-right bg-green" style="min-height: 280px">
                        <div class="description-block margin-bottom">
                          <h5 class="description-header">8390</h5>
                          <span class="description-text">Visitas</span>
                        </div><!-- /.description-block -->
                        <div class="description-block margin-bottom">
                          <h5 class="description-header">30%</h5>
                          <span class="description-text">Referidos</span>
                        </div><!-- /.description-block -->
                        <div class="description-block">
                          <h5 class="description-header">70%</h5>
                          <span class="description-text">Organicos</span>
                        </div><!-- /.description-block -->
                      </div>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-4">
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Navegadores utilizados</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="chart-responsive">
                        <canvas id="pieChart" height="150"></canvas>
                      </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                      <ul class="chart-legend clearfix">
                        <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                        <li><i class="fa fa-circle-o text-green"></i> IE</li>
                        <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                        <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                        <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                        <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                      </ul>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#">United States of America <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span></a></li>
                    <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
                    <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
                  </ul>
                </div><!-- /.footer -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div>
<!-- /.content-wrapper -->
           
           