<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
	<section class="content-header">
    <h1>{{ titulo }}</h1>
    <ol class="breadcrumb">
      <li><a href="#/inventarios"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 main">
                <form class="theform" ng-submit="">
                <div class="col-sm-12">
                <label for="codigo">Titulo*</label>
                <input type="text" 
                	id="titulo" 
                    name="titulo" 
                    class="form-control" 
                    ng-model="blog.title" 
                    placeholder="Ejemplo: 'El Internet en la vida del hombre'" 
                    required 
                    autofocus>
                </div>
                 <div class="col-sm-12">
                <label for="descripcion">Descripcion*</label>
                <textarea 
                	id="descripion" 
                    name="descripion" 
                    class="form-control" 
                    ng-model="blog.description" 
                    placeholder="Ejemplo: Hablaremos de la importancia de el internet en la vida cotidiana" 
                    rows="2" 
                    required>
                </textarea>
                </div>
                <div class="col-sm-12">
                <label for="intro">Introduccion*</label>
                <textarea 
                	id="intro"
                    name="intro" 
                    class="form-control" 
                    ng-model="blog.intro" 
                    placeholder="Ejemplo: El internet se ha convertido en una herramienta del dia a dia, tanto asi que la usamos inconcientemente" 
                    rows="3"
                    required>
                </textarea>
                </div>
                <div class="col-sm-12">
                <label for="content">Contenido*</label>
                <textarea 
                	id="content" 
                    name="content" 
                    class="form-control" 
                    ng-model="blog.content" 
                    placeholder="Contenido completo del articulo" 
                    rows="8"
                    required>
                </textarea>
                </div>
                <div class="clearfix" style="padding:10px 0;"></div>
                <legend style="padding:20px 0 5px;text-align:center; font-size:24px;">Imagenes</legend>
                <div class="upload col-sm-6 image-preview">
                	<label for="pic1">Imagen de Presentacion*</label>
                    <input 
                    	type="text" 
                        name="pic1" 
                        id="pic1" 
                        class="form-control" 
                        ng-model="blog.img1" 
                        placeholder="http://url-imagen-imagen1" 
                        required />
                </div>
                <div class="upload col-sm-6 image-preview">
                	<label for="pic2">Imagen de contenido</label>
                    <input type="text" name="pic2" id="pic2" class="form-control" ng-model="blog.img2"  placeholder="http://url-imagen-imagen2" />
                </div>
                <div class="clearfix" style="padding:20px 0;"></div>
                <div class="col-sm-12">
                <label for="tags">Tags*</label>
                <input 
                	type="text" 
                    id="tags" 
                    name="tags" 
                    class="form-control" 
                    ng-model="blog.tags" 
                    placeholder="Ejemplo: Iternet, tecnologias, evolucion" 
                    required 
                    autofocus>
                </div>
                <div class="col-sm-12">
                <label for="Autor">Autor*</label>
                <input 
                	type="text" 
                    id="autor" 
                    name="autor" 
                    class="form-control" 
                    ng-model="blog.author"
                    value="Saul Castillo, Director de Saenca"  
                    placeholder="Saul Castillo, Director de Saenca" 
                    required 
                    autofocus>
                </div>
                <input type="hidden" name="id" ng-model="blog.id"/>
                <div class="clearfix" style="padding:10px 0;"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-5">
                	<input type="submit" value="{{ boton }}" class="btn btn-success btn-lg">
                	<a href="{{ cancel }}" class="btn btn-default btn-lg">Volver</a>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>