<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Ver Articulos
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Ver Articulos</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
      		<a href="#/blog/nuevo"><h3 style="margin-top:0"><span class="label label-success">+ Crear nuevo articulo</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label for="orden">Ordenar por:</label>
                                <select name="orden" ng-model="orden">
                                    <option value="blog.title">Titulo</option>
                                    <option value="i_nombre">Fecha</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label for="invertir">Invertir Orden</label>
                                <input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
            <div class="col-sm-6">
                <label for="buscar">Buscar:</label>
                <input name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
      <table id="tabla" class="table table-bordered table-hover">
        <thead>
          <tr>
          	<th>Enlace</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Tags</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr class="item" ng-repeat="article in blog | filter: buscar | orderBy: orden:invertir" id="fila-{{ article.id }}">
              <td><a href="{{ article.permalink}}">{{ article.permalink}}</a></td>
              <td>{{ article.title}}</td>
              <td>{{ article.date }}</td>
              <td>{{ article.tags }}</td>
              <td>
              <a href="#/blog/articulo/{{ article.id }}"><i class="fa  fa-pencil optionsicons"></i></a>
              &nbsp;
              <a ng-really-message="Se borrara el articulo '{{ article.title }}'" ng-really-click="remove(article.id)"><i class="fa fa-trash error"></i></a>
              </td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
          	<th>Enlace</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Tags</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
      </div>
</div>
<div id="up" style="display:none;"><i style="font-size:36px;" class="fa fa-arrow-up"></i></div>
</section>
</div>