<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
     Categorias
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Categorias</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
            <a href="#/categorias/nuevo"><h3 style="margin-top:0"><span class="label label-success">+ Agregar Categoria</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label for="orden">Ordenar por:</label>
                                <select name="orden" ng-model="orden">
                                    <option value="c_cod">Codigo</option>
                                    <option value="c_nombre">Nombre</option>
                                    <option value="c_descripcion">Descripcion</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label for="invertir">Invertir Orden</label>
                                <input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
            <div class="col-sm-6">
            <label for="buscar">Buscar:</label>
            <input name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
      	<ul class="products-list product-list-in-box">
            <li class="item" ng-repeat="categoria in categ | filter: buscar |orderBy: orden:invertir" id="fila-{{ categoria.c_id }}">
                <div class="product-img">
                    <img src="{{categoria.c_pic}}" class="img-responsive" width="50" height="50">
                </div>              
                <div class="product-info">
                    <div class="col-sm-8">
                    <span class="quanty">
                		{{ categoria.c_items | number }}
               		</span>
                    <a href="#/categorias/{{categoria.c_id}}" class="product-title">{{ categoria.c_nombre}}</a>
                    <span class="product-description">
                        <i class="fa fa-barcode"></i> {{ categoria.c_cod}}<br>
                        {{ categoria.c_descripcion}}
                    </span>
                    </div>
                    <div class="col-sm-4" style="padding-right:45px;">
                       <p class="pull-right delitem">
                            <a class="choice" title="Eliminar" ng-really-message="Se borrara la categoria con Codigo {{ categoria.c_cod | uppercase}}" ng-really-click="remove(categoria.c_id)">
                                <i class="icon ion-close"></i>
                             </a>
                        </p>
                    </div>
                </div>              
             </li><!-- /.item -->
          </ul>
    </div>
    </div>
    </section>
</div>