<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Contacto
      <small>Datos de contacto</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Contacto</li>
    </ol>
  </section>
  <section class="content">
      <div class="box box-info">
            <div class="box-header">
            </div>
            <form class="form-horizontal">	
                    <div class="box-body">	
                        <div class="form-group">
                            <label for="telefono" class="col-sm-2 control-label">Tel&eacute;fonos</label>
                            <span class="text-muted"> Separe los teléfonos por coma. Ejem: 02121234567, 04141234567</span>
                            <div class="col-sm-10">
                                 <input type="tel" class="form-control" name="telefono" ng-model="contacto.telefono" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Emails</label>
                            <span class="text-muted"> Separe los correos por coma. Ejem: ventas@mail.com, compras@mail.com</span>
                             <div class="col-sm-10">
                                <input type="text" class="form-control" name="email" ng-model="contacto.email" required>	
                             </div>		
                        </div>
                        <div class="form-group">
                            <label for="direccion" class="col-sm-2 control-label">Direcci&oacute;n</label>
                            <div class="col-sm-10">
                                <input type="adress" class="form-control" name="direccion" ng-model="contacto.direccion" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="coordenadas" class="col-sm-2 control-label">Coordenadas (Google Maps)</label>
                            <span class="text-muted"> Coordenadas de Google Maps: Latitud, Logitud, Zoom. Ejem: -1251385.22, 1565485.55, 17</span>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="coordenadas" ng-model="contacto.gmaps">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" ng-model="contacto.id">
                    <div class="box-footer">
                    	<button type="submit" class="btn btn-lg btn-success" ng-click="submit($parent.contacto)">Guardar</button>
                    </div>
                </form>
       </div>
   </section>
</div>
