<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Cupones
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Cupones</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
      		<a href="#/cupon/nuevo"><h3 style="margin-top:0"><span class="label label-success">+ Nuevo Cupon</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label for="orden">Ordenar por:</label>
                                <select class="form-control" name="orden" ng-model="orden">
                                    <option value="cu_id">Id</option>
                                    <option value="cu_promo">Promo</option>
                                    <option value="cu_code">codigo</option>
                                    <option value="cu_modo">Modo</option>
                                    <option value="cu_monto">Monto</option>
                                    <option value="cu_usos">Usos</option>
                                    <option value="cu_caduca">Caducidad</option>
                                    <option value="cu_fecha_creacion">Fecha de Creacion</option>
                                    <option value="cu_usado">Veces usado</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label for="invertir">Invertir Orden
                                <input type="checkbox" name="invertir" class="minimal" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                                </label>
                            </div>
                        </div>
            <div class="col-sm-6">
                <label for="buscar">Buscar:</label>
                <input class="form-control" name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
      <ul class="products-list product-list-in-box">
        <li class="item" ng-repeat="cupon in cupones | filter: buscar | orderBy: orden:invertir" id="fila-{{ cupon.cu_id }}">            
        	<div class="product-info">
            	<div class="col-sm-8">
                <a href="#/cupon/{{ cupon.cu_id }}" class="product-title"><h3>{{ cupon.cu_promo}} - {{ cupon.cu_fecha_creacion }}</h3></a>
                <span ng-if="cupon.cu_modo == 1">Cupon de Descuento de {{ cupon.cu_monto}}%</span>
                <span ng-if="cupon.cu_modo == 2">Cupon de Descuento de {{ cupon.cu_monto | currency:'Bs '  }}</span>
                <span ng-if="cupon.cu_modo == 3">Cupon de Envio Gratis</span>
                <span class="product-description" style="font-size:24px">
                	<i class="fa fa-barcode"></i> {{ cupon.cu_code }}
            	</span>
                </div>
                <div class="col-sm-4" style="padding-right:45px;">
                	<span ng-if="cupon.cu_caduca =! '0000-00-00'" class="pull-rigth text-green">
                        <small>Vence el {{ cupon.cu_caduca }}</small>
                    </span>
                    <div class="clearfix"></div>
                    	<p class="pull-right delitem">
                    	<a class="choice" title="Eliminar" ng-really-message="Se borrara el cupon con Codigo {{ cupon.cu_code }}" ng-really-click="remove(cupon.cu_id)">
                        	<i class="icon ion-close"></i>
                         </a>
                    </p>
                    <p class="pull-right eye">
                    	<i title="Inactivo" ng-if="cupon.cu_activo == 0" class="icon ion-eye-disabled shut"></i>
                		<i title="Activo" ng-if="cupon.cu_activo == 1" class="icon ion-eye open"></i>
                    </p>
                    <p class="pull-right cond">
                    	<span title="Uso ilimitado" ng-if="cupon.cu_usos == 0" class="label label-info">ILIMITADO</span>
                        <span title="Usado" ng-if="cupon.cu_usos > 0" class="label label-warning">{{ cupon.cu_usos }} USO(S)</span>
                    </p>
                    <p class="pull-right vis">
                    	<i title="Veces usado" class="icon ion-person-stalker">{{ cupon.usado }}</i>
                    </p>
                </div>
           	</div>              
         </li><!-- /.item -->
      </ul>
     </div>
</div>
<div id="up" style="display:none;">
	<i style="font-size:36px;" class="fa fa-arrow-up"></i>
</div>
</section>
</div>
<script>
	$('#up').on('click', function(){
		window.scrollTo(0,0);
		});
</script>