<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
	<section class="content-header">
    <h1>{{ titulo }}</h1>
    <ol class="breadcrumb">
      <li><a href="#/inventarios"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 main">
                <div class="box">
                    <form class="theform">
                        <div class="box-header">
                            <p ng-show="success" class="alert alert-success">{{ success }}</p>
                            <p ng-show="error" class="alert alert-error">{{ error }}</p>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-6">
                            	<div class="form-group">
                                <label for="codigo">Nombre Promo</label>
                                <input type="text" id="cod" name="codigo" class="form-control" ng-model="cupon.cu_promo" placeholder="Nombre de la promocion" autofocus>
                                </div>
                                <div class="form-group">
                                	<label for="nombre">Valor/Monto*</label>
                                	<input type="text" id="monto" name="monto" class="form-control" ng-model="cupon.cu_monto" placeholder="Valor o Monto descuento del Cupon" required>
                                    <span>Dejar en Cero si el <strong>Modo Cupon</strong> es <em>Envio Gratis</em></span>
                                </div>
                                <div class="form-group">
                                	<label for="precio">Fecha de vencimiento</label>
                            		<input type="text" id="caduca" name="caduca" class="form-control" ng-model="cupon.cu_caduca" placeholder="dd/mm/YYYY" required>
                                    <span>Dejar en Blanco si el cupon no vence</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            	<div class="form-group">
                                	<label for="status">Modo Cupon*</label>
                                    <select ng-model="cupon.cu_modo" class="form-control" required>
                                        <option value="1">Porcentaje</option>
                                        <option value="2">Valor Fijo</option>
                                        <option value="3">Envio Gratis</option>
                                    </select>
                            	</div>
                                <div class="form-group">
                                	<label for="precio">Cantidad de usos</label>
                            		<input type="number" id="usos" min="0" name="usos" class="form-control" ng-model="cupon.cu_usos">
                                    <span>Dejar en 0 si el cupon se puede usar infinitas veces</span>
                                </div>
                                <div class="form-group">
                                	<label for="precio">Imagen</label>
                            		<input type="text" id="precio" name="precio" class="form-control" ng-model="cupon.cu_img"  placeholder="http://url-de-imagen.jpg">
                                    <span>Dejar en blanco para usar la imagen por defecto</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                            	<div class="input-group input-group-lg">
                                    <div class="input-group-btn">
                                      <button type="button" ng-click="codegen()" class="btn btn-success">Generar Codigo</button>
                                    </div><!-- /btn-group -->
                                    <input type="text" name="codigo" maxlength="16" ng-model="cupon.cu_code" class="form-control">
                                  </div>
                                  <span>El codigo no puede ser mayor a 16 Caracteres</span>
                            </div>
                            <div class="form-group" style="text-align:center">
                                    <label for="activo">
                                        <input type="checkbox" name="activo" ng-model="cupon.cu_activo" ng-true-value="'1'" ng-false-value="'0'" />
                                        Activo
                                    </label>
                                </div>
                            <div class="col-sm-12">
                            	<div class="cupon-size">
                                	-600px-
                                </div>
                            	<div id="cupon-prev" ng-class="{ 'cupon-enabled' : cupon.cu_activo == '1' }">
                                    <div class="cupon-value">
                                        <div id="cupon-envio" ng-if="cupon.cu_modo == '3'">Envio Gratis</div>
                                        <div id="cupon-mon" ng-if="cupon.cu_modo == '2'">
                                            <p>Descuento de</p>
                                            <span>{{ cupon.cu_monto | currency : 'Bs ' }}</span>
                                            <p>en tu compra</p>
                                        </div>
                                        <div id="cupon-porc" ng-if="cupon.cu_modo == '1'">
                                            <p>Descuento de</p>
                                            <span>{{ cupon.cu_monto }}%</span>
                                            <p>en tu compra</p>    
                                        </div>
                                        <div id="cupon-valido" ng-if="cupon.cu_caduca > '0' && cupon.cu_caduca != '0000-00-00'">Valido hasta el {{ cupon.cu_caduca }}</div>
                                    </div>
                                    <div id="cupon-code">
                                    	{{ cupon.cu_code }}
                                    </div>
                                </div>
                                <div class="cupon-size right">
                                	-250px-
                                </div>
                                <div ng-if="cupon.cu_id != null" class="col-sm-12" style="text-align:center">
                                	<button id="btnSave" class="btn btn-default" ng-click="create()">Guardar imagen cupon</button>
                                </div>
                                <div id="img-out"></div>
                            </div>
                         </div>
                        <div class="box-footer">
                        <button ng-if="!cupon.cu_id" class="btn btn-success btn-lg" ng-click="guardar(cupon)">
                        	{{ boton }}
                        </button>
                        <button ng-if="cupon.cu_id" class="btn btn-success btn-lg" ng-click="update(cupon.cu_id, cupon)">
                        	{{ boton }}
                        </button>
                            <a href="{{ cancel }}" class="btn btn-default btn-lg pull-right">Volver</a>
                            </div>
                     </form>    
                </div>
            </div>
        </div>
    </section>
</div>
<script>
$(function() { 
    $("#btnSave").on('click', function(){ 
        html2canvas($("#cupon-prev"), {
            onrendered: function(canvas) {
                theCanvas = canvas;
                document.body.appendChild(canvas);

                // Convert and download as image
                //Canvas2Image.saveAsBMP(canvas);
				alertify.alert('Se ha generado su cupon, de click derecho y seleccione la <em>opci&oacute;n guardar im&aacute;gen como</em>');	 
                $(".alertify-message").append(canvas);
                // Clean up 
                document.body.removeChild(canvas);
            }
        });
    });
}); 
</script>