<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
	<section class="content-header">
    <h1>{{ titulo }}</h1>
    <ol class="breadcrumb">
      <li><a href="#/inventarios"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 main">
            <p ng-show="success" class="alert alert-success">{{ success }}</p>
			<p ng-show="error" class="alert alert-error">{{ error }}</p>
                <form class="theform">
                <div class="col-sm-3" id="codigo">
                <label for="codigo">Codigo*</label>
                <input type="text" id="cod" name="codigo" class="form-control" ng-model="items.items.i_cod" placeholder="000" required autofocus>
                </div>
                <div class="col-sm-3" id="activo">
                <input type="checkbox" name="status" ng-model="items.items.i_status" ng-true-value="'1'" ng-false-value="'0'" />
                <label for="check_01">&#160;</label>
                <span>Publicaci&oacute;n <b id="status">Activa</b></span>
                </div>
                <div class="col-sm-2" id="uso">
                <label for="status">
                	<input type="checkbox" name="condicion" id="condicion" ng-model="items.items.i_condicion" ng-true-value="'1'" ng-false-value="'0'" />
                    Usado
                </label>
                </div>
                <div class="col-sm-2" id="envio">
                <label for="costoenvio">
	                <input type="checkbox" name="costoenvio" id="costoenvio" ng-model="items.items.i_costoenvio" ng-true-value="'1'" ng-false-value="'0'"  />
    	            Envio Gratis
                </label>
                </div>
                <div class="col-sm-2" id="cupon">
                <label for="cupon">
                	<input type="checkbox" name="cupon" id="cup" ng-model="items.items.i_cupon" ng-true-value="'1'" ng-false-value="'0'"  />
                	Cup&oacute;n
                </label>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6" id="nombre">
                <label for="nombre">Nombre*</label>
                <input type="text" id="nombre" name="nombre" class="form-control" ng-model="items.items.i_nombre" placeholder="Nombre del Producto" required>
                </div>
                <div class="col-sm-4" id="precio">
                <label for="precio">Precio*</label>
                <input type="text" id="precio" name="precio" class="form-control" ng-model="items.items.i_precio" placeholder="precio antes - precio ahora" required>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" id="descripcion">
                <label for="Descripcion">Descripcion*</label>
                <textarea id="descripcion" name="descripcion" class="form-control" ng-model="items.items.i_descripcion" placeholder="Descripcion del Producto" rows="8" cols="15" required>
                </textarea>
                </div>
                <div class="clearfix" style="padding:10px 0;"></div>
                <div class="col-sm-3" id="categoria">
                <label for="categoria">Categoria*</label>
                <select name="categoria" class="form-control" ng-model="items.items.categoria">
                <option ng-repeat="cat in categ" value="{{ cat.c_id }}">{{ cat.c_nombre }}</option>
                </select>
                </div>
                <div class="col-sm-3" id="marca">
                <label for="marca">Marca*</label>
                <select name="marca" class="form-control" ng-model="items.items.marca">
                <option ng-repeat="mar in marcas" value="{{ mar.m_id }}">{{ mar.m_nombre }}</option>
                </select>
                </div>
                <div class="col-sm-3" id="clasificacion">
                <label for="clasificacion">Clasificacion*</label>
                <select name="clasificacion" class="form-control" ng-model="items.items.i_clasificacion">
                <option ng-repeat="ctrl in control" value="{{ ctrl.ctrl_id }}">{{ ctrl.ctrl_nombre }}</option>
                </select>
                </div>
                <div class="col-sm-3" id="existencia">
                <label for="cantidad">Existencia*</label>
                <input type="text" id="cantidad" name="cantidad" class="form-control" ng-model="items.items.i_cantidad" placeholder="000" required>
                </div>
                <div class="clearfix"></div>
                <legend style="padding:20px 0 5px;text-align:center; font-size:24px;">Video</legend>
                <div class="col-sm-12" id="video">
                <label for="video">Video</label>
                <input type="text" id="video" name="video" ng-model="items.items.v_url" class="form-control" placeholder="https://youtube.com/video-de-mi-producto">
                </div>
                <div class="clearfix"></div>
                <legend style="padding:20px 0 5px;text-align:center; font-size:24px;">Imagenes</legend>
                <div class="upload col-sm-4">
                <img src="{{ items.items.p_1 }}" width="100%" class="img-responsive">
                <label for="pic1">Url Imagen 1*</label>
                <input type="text" name="pic1" id="pic1" class="form-control" ng-model="items.items.p_1" placeholder="http://url-imagen-imagen1" required />
                </div>
                <div class="upload col-sm-4">
                <img src="{{ items.items.p_2 }}" width="100%" class="img-responsive">
                <label for="pic2">Url Imagen 2</label>
                <input type="text" name="pic2" id="pic2" class="form-control" ng-model="items.items.p_2" placeholder="http://url-imagen-imagen2" />
                </div>
                <div class="upload col-sm-4">
                <img src="{{ items.items.p_3 }}" width="100%" class="img-responsive">
                <label for="pic3">Url Imagen 3</label>
                <input type="text" name="pic3" id="pic3" class="form-control" ng-model="items.items.p_3" placeholder="http://url-imagen-imagen3" />
                </div>
                <div class="clearfix" style="padding:20px 0;"></div>
                <div class="col-sm-12">
                <input ng-if="!items.items.i_id" type="submit" value="{{ boton }}" class="btn btn-success btn-lg" ng-click="guardar(items.items)">
                <input ng-if="items.items.i_id" type="submit" value="{{ boton }}" class="btn btn-success btn-lg" ng-click="update(items.items.i_id,items.items)">
                <a href="{{ cancel }}" class="btn btn-default btn-lg pull-right">Volver</a>
                </div>
                </form>
            </div>
        </div>
    </section>
</div>