<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Ver Inventario
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Ver Inventario</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
      		<a href="#/inventario/nuevo"><h3 style="margin-top:0"><span class="label label-success">+ Agregar Producto</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label for="orden">Ordenar por:</label>
                                <select name="orden" ng-model="orden">
                                    <option value="i_cod">Codigo</option>
                                    <option value="i_nombre">Nombre</option>
                                    <option value="m_nombre">Marca</option>
                                    <option value="c_nombre">Categoria</option>
                                    <option value="i_precio">Precio</option>
                                    <option value="i_cantidad">Cantidad</option>
                                    <option value="control">Clasificacion</option>
                                    <option value="condicion">Condicion</option>
                                    <option value="i_visitas">Visitas</option>
                                    <option value="status">Estado</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label for="invertir">Invertir Orden</label>
                                <input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
            <div class="col-sm-6">
                <label for="buscar">Buscar:</label>
                <input name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
      <ul class="products-list product-list-in-box">
        <li class="item" ng-repeat="item in items | filter: buscar | orderBy: orden:invertir" id="fila-{{ item.i_id }}">
        	<div class="product-img">
            	<img ng-src="{{ item.p_1 }}" alt="{{ item.i_nombre }}" class="img-responsive" width="50" height="50">
            </div>              
        	<div class="product-info">
            	<div class="col-sm-8">
                <span ng-if="item.i_cantidad > 0" class="quanty">{{ item.i_cantidad | number }}</span>
                <span ng-if="item.i_cantidad < 1" class="quanty agotado">{{ item.i_cantidad | number }}</span>
                
            	<a href="#/inventario/{{ item.i_id }}" class="product-title">{{ item.i_nombre }}</a>
                <span ng-if="item.ctrl_nombre!='Ninguno'">
                	<span ng-if="item.ctrl_nombre =='Oferta'" class="text-green">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                    <span ng-if="item.ctrl_nombre =='Recomendado'" class="text-yellow">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                    <span ng-if="item.ctrl_nombre!='Ninguno' && item.ctrl_nombre!='Oferta' && item.ctrl_nombre!='Recomendado'" class="text-red">&nbsp;-&nbsp;{{ item.ctrl_nombre}}</span>
                </span>
                <span class="product-description">
                	<i class="fa fa-barcode"></i> {{ item.i_cod | uppercase}}<br>
                    {{ item.c_nombre }} - {{ item.m_nombre }}
            	</span>
                </div>
                <div class="col-sm-4" style="padding-right:45px;">
                	<span ng-if="item.i_costoenvio!=null || item.i_costoenvio > 0" class="pull-rigth text-green">
                    	<i class="fa fa-truck" title="Envio Gratis"></i>
                        <small>Gratis</small>
                    </span>
                 	<p class="price pull-right">{{ item.i_precio | currency:''}}</p>
                    <div class="clearfix"></div>
                    	<p class="pull-right delitem">
                    	<a class="choice" title="Eliminar" ng-really-message="Se borrara el producto con Codigo {{ item.i_cod | uppercase}}" ng-really-click="remove(item.i_id)">
                        	<i class="icon ion-close"></i>
                         </a>
                    </p>
                    <p class="pull-right eye">
                    	<i title="Inactivo" ng-if="item.i_status == null || item.i_status == 0" class="icon ion-eye-disabled shut"></i>
                		<i title="Activo" ng-if="item.i_status == 1" class="icon ion-eye open"></i>
                    </p>
                    <p class="pull-right cond">
                    	<span title="Nuevo" ng-if="!item.i_condicion || item.i_condicion==0" class="label label-info">NUEVO</span>
                        <span title="Usado" ng-if="item.i_condicion && item.i_condicion == 1" class="label label-warning">USADO</span>
                    </p>
                    <p class="pull-right vis">
                    	<i title="Visitas" class="icon ion-person-stalker">{{ item.i_visitas }}</i>
                    </p>
                </div>
           	</div>              
         </li><!-- /.item -->
      </ul>
     </div>
</div>
<div id="up" style="display:none;">
	<i style="font-size:36px;" class="fa fa-arrow-up"></i>
</div>
</section>
</div>
<script>
	$('#up').on('click', function(){
		window.scrollTo(0,0);
		});
</script>