<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Logo
      <small>Imagen corporativa</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Logo</li>
    </ol>
  </section>
  <section class="content">
  <div class="row">
  <form>
    <div class='col-xs-12 col-md-6'>
    <div class="col-md-12" style="padding-top:30px"></div>
        <div class='imagen'>
        	<input type='text' 
            		id='logo' 
                    class='form-control' 
                    placeholder='logo' 
                    name="logo"
                    ng-model="logo.archivo"/>
            <span>Este sera la imagen de la empresa que se mostrara en todas las paginas del sitio</span>
        </div>  
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="{{ img.archivo }}" class="img-responsive" alt="Logo Empresa" /> 
    </div>
    <div class="clearfix" style="padding:30px;"></div>
    <input type="hidden" name="pos" ng-model="logo.id" /> 
    <div class="col-sm-12" style="text-align:center;">
    	<input type="submit" value="Guardar" class="btn btn-lg btn-success" ng-click="submit($parent.logo)">
    </div>
    </form>
   </div>
 </section>
 </div>