<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
     Marcas
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Marcas</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
    		<a href="#/marca/nuevo"><h3 style="margin-top:0"><span class="label label-success">+ Agregar Marca</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div class="col-sm-12">
                    <label for="orden">Ordenar por:</label>
                    <select name="orden" ng-model="orden">
                        <option value="m_cod">Codigo</option>
                        <option value="m_nombre">Nombre</option>
                        <option value="m_descripcion">Descripcion</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label for="invertir">Invertir Orden</label>
                    <input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="buscar">Buscar:</label>
                <input name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
    	<ul class="products-list product-list-in-box">
            <li class="item" ng-repeat="marca in marcas | filter: buscar |orderBy: orden:invertir" id="fila-{{ marca.m_id }}">
                <div class="product-img">
                    <img src="{{marca.m_pic}}" class="img-responsive" width="50" height="50">
                </div>              
                <div class="product-info">
                    <div class="col-sm-8">
                    <span class="quanty">
                		{{ marca.m_items | number }}
                	</span>
                    <a href="#/marca/{{marca.m_id}}" class="product-title">{{ marca.m_nombre}}</a>
                    <span class="product-description">
                        <i class="fa fa-barcode"></i> {{ marca.m_cod}}<br>
                        {{ marca.m_descripcion}}
                    </span>
                    </div>
                    <div class="col-sm-4" style="padding-right:45px;">
                       <p class="pull-right delitem">
                            <a class="choice" title="Eliminar" ng-really-message="Se borrara la marca con Codigo {{ marca.m_cod | uppercase}}" ng-really-click="remove(marca.m_id)">
                                <i class="icon ion-close"></i>
                             </a>
                        </p>
                    </div>
                </div>              
             </li><!-- /.item -->
          </ul>
    </div>
    </div>
    </section>
</div>