<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      {{ titulo }}
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
  <section class="content">
  <div class="row">

<div class="col-sm-12 main">
<form class="theform">
<div class="col-sm-3">
<label for="codigo">Codigo*</label>
<input type="input" id="cod" name="codigo" class="form-control" ng-model="marca.m_cod" placeholder="000" required>
</div>
<div class="col-sm-3">
<label for="nombre">Nombre*</label>
<input type="input" id="nombre" name="nombre" class="form-control" ng-model="marca.m_nombre" placeholder="Hogar" required>
</div>
<div class="col-sm-6">
<label for="descripcion">Descripcion</label>
<input type="input" name="descripcion" id="descripcion" class="form-control" ng-model="marca.m_descripcion" placeholder="Articulos para el hogar" required>
</div>
<div class="clearfix"></div>
<br>
<div class="col-sm-3">
	<img src="{{ marca.m_pic }}" class="img-responsive" alt="Marca Imagen">
</div>
<div class="col-sm-9">
<label for="imagen">Imagen</label>
<input type="text" id="pic_marca" name="imagen" class="theform form-control" value="" placeholder="http://www.photobucket.com/imagename.png" ng-model="marca.m_pic">
</div>
<div class="clearfix" style="padding:20px 0;"></div>
<div class="col-sm-12">
<input ng-if="!marca.m_id" type="submit" value="{{ boton }}" class="btn btn-lg btn-success" ng-click="guardar(marca)">
<input ng-if="marca.m_id" type="submit" value="{{ boton }}" class="btn btn-success btn-lg" ng-click="update(marca.m_id, marca)">
<a href="{{ cancel }}" class="btn btn-default btn-lg pull-right">Volver</a>
</div>
</form>
</div>

    </div>
    </section>
    </div>