<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Pedidos
            <small>Resumen</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
          	<div class="col-xs-12">
               	<div class="box" style="max-width:727px;margin:auto;">
            		<div class="box-body">
                    <table class="nota" width="100%">
                      <tbody>
                      <tr>
                        <td colspan="3">
                        	<img src="../img/logo.png" alt="Saenca Comercial, C.A" style="margin:auto auto -20px;" width="200"/>
                        <br>
                        <font>Saenca Comercial C.A<br>J-407695320</font>
                        <br><br>
                        </td>
                        <td valign="middle" align="right">
                        <h3>Pedido Nro <span style="color:#D90003">{{ order[0].id }}</span></h3>
                        <b>Fecha</b>: {{ order[0].fecha }}
                        </td>
                       </tr>
                        <tr>
                          <td colspan="4"><b>Razon Social: </b>{{ order[0].nombre }}</td>
                        </tr>
                        <tr>
                              <td colspan="4"><b>RIF</b>: {{ order[0].cirif }}</td>
                              </tr>
                        <tr>
                              <td colspan="4"><b>Direccion</b>: {{ order[0].direccion1 }}</td>
                            </tr>
                            <tr>
                              <td colspan="4"><b>Telefono</b>: {{ order[0].telefono }}
                              </td>
                              </tr>
                            <tr>
                              <td colspan="4"><b>Email</b>: {{ order[0].email }}</td>
                              </tr>
                              <tr>
                                <td colspan="4">&nbsp;</td>
                              </tr>
                            <tr align="center">
                            <td colspan="4">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th>Cant.</th>
                                            <th>Cod.</th>
                                            <th>Nombre</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
	                                    <tr ng-repeat="item in order[0].productos" class="printed">
                                          <td align="center">{{ item.cantidad }}</td>
                                           <td align="center">{{ item.i_cod }}</td>
                                           <td>&nbsp;{{ item.i_nombre }}</td>
                                            <td align="center">{{ item.subtotal }}</td>
                                          </tr>            
                                    </tbody>
                                    <tfoot>
                                        <tr class="printed">
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td align="right">&nbsp;</td>
                                          <td align="center">&nbsp;</td>
                                      </tr>
                                      <tr class="printed">
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td align="right"><b>Iva (10%)</b></td>
                                          <td align="center">{{ order[0].iva }}</td>
                                      </tr>
                                        <tr class="printed">
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td align="right"><b>Total</b></td>
                                          <td align="center">{{ order[0].total }}</td>
                                          </tr>
                                        <tr>
                                    </tfoot>
                                </table>
                            </td>
                            </tr>
                            <tr>
                              <td colspan="4">
                              <br/>
                              <ul style="margin: 0 0 0 25px;">
                              <li><strong>Este pedido tendr&aacute; una vigencia de tres (03) d&iacute;as h&aacute;biles</strong></li>
                              <li><strong>La empresa no garantiza la disponibilidad total de los productos al momento de relizar el pedido.</strong></li>
							  <li><strong>Para Concretar la Venta Comunicarse al <em>(0412)9027951</em> o atraves de <em>saenca.ventas@gmail.com</em></strong></li>
                    <!--		  <li><strong>Puede Pagar En Efectivo En Nuestro Local Comercial o Con Su Tarjeta De
                    Débito o (Credito 10% adicional)</strong></li>-->
                              <li><strong>Disponemos para su pago en dep&oacute;sito o transferencia de las siguentes cuentas bancarias:</strong></li>
                              </ul>
                              <br/>
                              <table width="100%" cellpadding="10" style="margin:auto;">
                                <tr class="printed">
                                  <th align="center">Titular</th>
                                  <th align="center">CI/RIF</th>
                                  <th align="center">Banco</th>
                                  <th align="center">Cuenta</th>
                                  <th align="center">Nro  Cuenta</th>
                                </tr>
                                <tr class="printed">
                                  <td align="center">Saul Castillo</td>
                                  <td align="center">V-17.929.180</td>
                                  <td align="center">Banesco</td>
                                  <td align="center">Corriente</td>
                                  <td align="center">0134-0866-1686-6101-4750</td>
                                </tr>
                                <tr class="printed">
                                  <td align="center">Saul Castillo</td>
                                  <td align="center">V-17.929.180</td>
                                  <td align="center">Mercantil</td>
                                  <td align="center">Ahorros</td>
                                  <td align="center">0105-0083-4100-8350-8902</td>
                                </tr>
                                <tr class="printed">
                                  <td align="center">Saul Castillo</td>
                                  <td align="center">V-17.929.180</td>
                                  <td align="center">Venezuela</td>
                                  <td align="center">Corriente</td>
                                  <td align="center">0102-0221-3100-0051-6332</td>
                                </tr>
                              </table>
                              <br />
                              <strong>Recuerde notificar su pago, enviandonos el comprobante de deposito o tranferencia asi como el nro de su pedido</strong>
                              <br/>
                              <h3 align="center">VALIDO POR TRES (03) DIAS</h3>
                              </td>
                            </tr>	
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
          </div><!-- /.row -->
        <div class="noprint" style="text-align:center;">
            <button class="btn btn-success btn-lg imprimir noprint"><i class="fa fa-print"></i>&nbsp;Imprimir</button>
        </div>
        </section><!-- /.content -->
      </div>
<!-- /.content-wrapper -->
<script type="text/javascript">
$('.imprimir').click(function(){
    window.print();
    return false;
});
</script>
           