<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Pedidos
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Pedidos</li>
    </ol>
  </section>
  <section class="content">
   	<div class="box box-info">
  	<div class="box-header">
     	<div class="col-sm-6">
     		<div class="col-sm-12">
                <label for="filter">Ordenar por:</label>
                <select name="orden" ng-model="orden">
                    <option value="order.id">Nro Pedido</option>
                    <option value="order.email">E-mail</option>
                    <option value="order.telefono">Telefono</option>
                </select>
            </div>
        	<div class="col-sm-12">
                <label for="invertir">Invertir Orden</label>
            	<input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
            </div>
        </div>
        <div class="col-sm-6">
        	<label for="buscar">Buscar:</label>
            <input name="buscar" type="search" ng-model="buscar">
        </div>
    </div>
<div class="box-body">
  <div class="table-responsive">
    <table class="table no-margin">
      <thead>
        <tr>
          <th width="5%">Nro</th>
          <th width="35%">Items</th>
          <th width="20%">Email</th>
          <th width="5%">Telefono</th>
          <th width="35%">Direcci&oacute;n</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders | filter: buscar | orderBy: orden:invertir">
          <td valign="middle" style="vertical-align:middle;font-size:16px;"><a href="#/pedidos/{{ order.id }}">{{ order.id }}</a></td>
          <td>
            <ul style="list-style:none;padding-left:0">
                <li ng-repeat="item in order.productos">
                    <b>{{ item.cantidad }}</b> - <i>{{ item.m_nombre }}</i> - {{ item.i_nombre }}
                </li>
                <li style="text-align:right"><b>IVA</b>: {{ order.iva }}</li>
                <li style="text-align:right"><b>Sub</b>: {{ order.sub }}</li>
                <li style="text-align:right"><b>Total</b>: {{ order.iva + order.sub }}</li>
            </ul>
          </td>
          <td style="word-break:break-all">{{ order.email }}</td>
          <td>{{ order.telefono }}</td>
          <td>{{ order.direccion1 }}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div>
    <div class="box-footer"></div>
    </div>
   </section>
</div>