<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Ventana Informativa
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Ventana Informativa</li>
    </ol>
  </section>
  <section class="content">
  <div class="row">
  <form>
    <div class='col-sm-12'>
        <div class='col-md-6 col-sm-12 imagen'>
        	<input type='text' id='logo' class='form-control' placeholder='http://urlimagen.jpg' name="logo" ng-model="emergente.archivo"/>
            <span>Este sera la imagen que se mostrara al inicio de la p&aacute;gina</span>
        </div> 
        <div class="col-md-6 col-sm-12">
      		<img src="{{ emergente.archivo }}" class="img-responsive" alt="Ventana Informativa" /> 
    	</div>
    </div>
    <div class="clearfix" style="padding:30px;"></div>
    <input type="hidden" name="pos" ng-model="emergente.id" /> 
    <div class="col-sm-12" style="text-align:center;">
    	<input type="submit" value="Guardar" class="btn btn-lg btn-success" ng-click="submit($parent.emergente)">
    </div>
    </form>
   </div>
 </section>
 </div>