<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Redes Sociales
      <small>Social Media Data</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Redes Sociales</li>
    </ol>
  </section>
  <section class="content">
   	<div class="box box-info">
  	<div class="box-header">
    </div>
    <form class="form-horizontal">	
		<div class="box-body">	
        	<div class="form-group">	
				<label for="facebook" class="col-sm-2 control-label">Facebook</label>
                <span class="text-muted">Direccion de su pagina en facebook. Ejemplo: https://www.facebook.com/<strong>nombredesupagina</strong></span>
                <div class="col-sm-10">
                	<input type="text" name="facebook" ng-model="redes.facebook"  class="form-control">
                </div>
            </div>
            <div class="form-group">	
				<label for="twitter" class="col-sm-2 control-label">Twitter</label>
                <span class="text-muted">Direccion de su usuario en twitter. Ejemplo: <strong>nombredeusuario</strong> sin el @</span>
                <div class="col-sm-10">
                	<input type="text" name="twitter" ng-model="redes.twitter" class="form-control">
                </div>
            </div>
            <div class="form-group">	
				<label for="instagram" class="col-sm-2 control-label">Instagram</label>
                <span class="text-muted">Direccion de su pagina en instagram. Ejemplo: <strong>nombredesupagina</strong> sin el @</span>
                <div class="col-sm-10">
                	<input type="text" name="instagram" ng-model="redes.instagram" class="form-control">
                </div>
            </div>
            <div class="form-group">	
				<label for="youtube" class="col-sm-2 control-label">YouTube</label>
                 <span class="text-muted">Direccion de su canal en youtube. Ejemplo: https://www.youtube.com/<strong>nombredesucanal</strong></span>
                <div class="col-sm-10">
                	<input type="text" name="youtube" ng-model="redes.youtube" class="form-control">
                </div>
            </div>
            <div class="form-group">	
				<label for="gplus" class="col-sm-2 control-label">Google Plus</label>
                 <span class="text-muted">Direccion de su pagina en google plus. Ejemplo: https://www.googleplus.com/<strong>nombredesupagina</strong></span>
                <div class="col-sm-10">
                	<input type="text" name="gplus" ng-model="redes.googleplus" class="form-control">
                </div>
            </div>
     	</div>
        <input type="hidden" name="id" ng-model="redes.id">
        <div class="box-footer">
        	<button type="submit" class="btn btn-lg btn-success" ng-click="submit($parent.redes)">Guardar</button>
            <a href="#/" class="btn btn-default btn-lg pull-right">Volver</a>
        </div>
    </form>
    </div>
   </section>
</div>