<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Carousel
      <small>Paralax Slider</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Carousel</li>
    </ol>
  </section>
  <section class="content">
  <div class="row">
  <form>
    <div class='col-xs-12 col-md-6'>
        <div class='imagen'>
        	<span>Imagen 1</span>
        	<input type='text' class='form-control' placeholder='imagendefondo.jpg, imagendefrente.png' ng-model="imagen.img1"/>
        </div>
        <div class='imagen'>
        	<span>Imagen 2</span>
        	<input type='text' class='form-control' placeholder='imagendefondo.jpg, imagendefrente.png' ng-model="imagen.img2"/>
        </div>
                <div class='imagen'>
        	<span>Imagen 3</span>
        	<input type='text' class='form-control' placeholder='imagendefondo.jpg, imagendefrente.png' ng-model="imagen.img3"/>
        </div>
                <div class='imagen'>
        	<span>Imagen 4</span>
        	<input type='text' class='form-control' placeholder='imagendefondo.jpg, imagendefrente.png' ng-model="imagen.img4"/>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
          <!-- Carousel-->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img class="first-slide" src="{{ imagen.img1 }}">
                </div>
                <div class="item">
                  <img class="second-slide" src="{{ imagen.img2 }}">
                </div>
                <div class="item">
                  <img class="third-slide" src="{{ imagen.img3 }}">
                </div>
                <div class="item">
                  <img class="fourth-slide" src="{{ imagen.img4 }}">
                </div>
              </div>
<!--              <a class="left carousel-control choice" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="right carousel-control choice" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
              </a>-->
            </div>
            <!-- /.carousel -->
    </div>
    <div class="clearfix" style="padding:30px;"></div> 
    <div class="col-sm-12" style="text-align:center;">
    	<input type="submit" value="Guardar" class="btn btn-lg btn-success" ng-click="actualizar(imagen)">
    </div>
    </form>
   </div>
 </section>
 </div>