<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Responder Testimonio
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
  <section class="content">
  <div class="row">

<div class="col-sm-12 main">
<form class="theform">
<div class="col-sm-12">
    <label for="email">Email*</label>
    <input type="email" id="email" name="email" class="form-control" ng-model="com.email" placeholder="cliente@suemail.com" readonly>
</div>
<div class="col-sm-12 form-group">
    <p>Este usuario adquirio un</p>
    <p ng-bind-html="com.venta | htmlSafe"></p>
</div>
<div class="clearfix"></div>
<div class="col-sm-12">
<label for="comentario">Comentario cliente</label>
<textarea name="comentario" class="form-control" ng-model="com.comentarios" readonly></textarea>
</div>
<div class="col-sm-12">
<label for="comentario">Repuesta</label>
<textarea name="comentario" class="form-control" ng-model="com.reply"></textarea>
</div>
<div class="clearfix" style="padding:20px 0;"></div>
<div class="col-sm-3 col-sm-offset-3">
<input type="submit" value="{{ boton }}" class="btn btn-lg btn-success" ng-click="update(com)">
<a href="{{ cancel }}" class="btn btn-default btn-lg">Volver</a>
</div>
</form>
</div>
</div>
</section>
</div>