<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Ver Testimonios
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Ver Testimonios</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
      		<a href="#/testimonios/solicitar"><h3 style="margin-top:0"><span class="label label-success">+ Solicitar Testimonio</span></h3></a>
        </div>
    </div>
    <div class="box-body">
    	<ul class="products-list product-list-in-box">
            <li ng-repeat="test in coment" id="fila-{{ test.id }}" class="item">
            	<div class="message">
                  <a href="mailto:{{test.email}}" class="name choice" title="{{test.email}}">
                    <span ng-show="test.nombre">{{ test.nombre }}</span>
                    <span ng-if="!test.nombre">{{ test.email }}</span>
                  </a>
                  <small ng-show="test.comentarios">"&nbsp;{{ test.comentarios }}&nbsp;"</small>
                  &nbsp;&nbsp;
                  <span class="rating pull-right" ng-show="test.valoracion > 0">
                    	<i ng-if="test.valoracion > 0" class="fa fa-star"></i>
                        <i ng-if="test.valoracion > 1" class="fa fa-star"></i>
                        <i ng-if="test.valoracion > 2" class="fa fa-star"></i>
                        <i ng-if="test.valoracion > 3" class="fa fa-star"></i>
                        <i ng-if="test.valoracion > 4" class="fa fa-star"></i>
                        <i ng-if="test.valoracion < 1" class="fa fa-star-o"></i>
                        <i ng-if="test.valoracion < 2" class="fa fa-star-o"></i>
                        <i ng-if="test.valoracion < 3" class="fa fa-star-o"></i>
                        <i ng-if="test.valoracion < 4" class="fa fa-star-o"></i>
                        <i ng-if="test.valoracion < 5" class="fa fa-star-o"></i>
                	</span>
        		</div>
                <div class="col-sm-9">
                	<datosventa info="{{ test.venta }}"></datosventa>
                </div>
                <div class="col-sm-3">
                	<small ng-show="test.fecha" class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ test.fecha }}</small>
                    <div class="clearfix"></div>
                    <p class="pull-right delitem"><a title="Eliminar" ng-really-message="Se borrara el testimonio de '{{ test.email }}'" ng-really-click="remove(test.id)" 
                        class="choice">
                			<i class="icon ion-close"></i>
               			</a></p>
                    <p class="pull-right eye" ng-if="test.aprobado == 0 && test.comentarios"><a title="Mostrar" ng-really-message="Se hara visible el comentario de '{{ test.email }}'" ng-really-click="show(test.id)" 
                        class="choice">
               				<i class="icon ion-eye open"></i>
               			</a></p> 
               		<p class="pull-right eye" ng-if="test.aprobado == 1"><a title="Ocultar" ng-really-message="Se ocultara el comentario de '{{ test.email }}'" ng-really-click="hide(test.id)" 
                        class="choice">
                			<i class="icon ion-eye-disabled shut"></i>
               			</a></p>
                    <p class="pull-right eye" ng-if="test.comentarios == null"><a title="Pedir Comentario" href="#/testimonios/{{ test.id }}" title="Pedir Comentario" 
                        class="choice">
                        	<i class="icon ion-reply"></i>
                        </a></p>
                </div>
            </li><!-- /.item -->
          </ul>
      </div>
</div>
<div id="up" style="display:none;"><i style="font-size:36px;" class="fa fa-arrow-up"></i></div>
</section>
</div>