<div class="content-wrapper">
<!--Cargando-->
<div ng-if="loading" class="loading"></div>
<!--/Cargando-->
  <section class="content-header">
    <h1>
      Solicitar Testimonio
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
    	<div class="col-sm-12 main">
        	<form class="theform">
                <div class="col-sm-12">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="com.email" placeholder="cliente@suemail.com" required>
                </div>
                <div class="col-sm-12 form-group">
                    <p>Este usuario adquirio un</p>
                    <div ng-if="!com.venta">
                    <div class="radio">
                            <label for="type">
                                <input type="radio" name="tipoventa" id="producto" ng-model="com.tipoventa" value="productos">
                                Producto
                            </label>
                    </div>
                    <div class="radio">
                            <label for="type">
                                <input type="radio" name="tipoventa" id="servicio" ng-model="com.tipoventa" value="servicios">
                                Servicio
                            </label>
                    </div>         
                    <div class="col-sm-12" id="productos" ng-show="com.tipoventa == 'productos'">
                    	<div class="col-sm-3">
                        	<label for="cant">Cantidad</label>
                            <input type="number" min="1" class="form-control" ng-model="com.cantidad">
                        </div>
                    	<div class="col-sm-9">
                            <label for="productos">Producto*</label>
                            <select name="productos" class="form-control" ng-model="com.productos" ng-required="com.tipoventa == 'productos'">
                            <option ng-repeat="products in pro" value="{{ products.i_id }}">{{ products.i_cod }} - {{ products.i_nombre }} ({{ products.m_nombre }})</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12" id="servicios" ng-show="com.tipoventa == 'servicios'">
                          <label for="servicios">Servicio*</label>
                          <select name="servicios" class="form-control" ng-model="com.servicios" ng-required="com.tipoventa == 'productos'">
                          <option ng-repeat="ctrl in pro.control" value="{{ ctrl.ctrl_id }}">{{ ctrl.ctrl_nombre }}</option>
                          </select>
                     </div>
                 </div>
                 </div>
                <div class="col-sm-12" ng-if="com.venta">
                	<ul class="products-list product-list-in-box">
                        <li class="item">
                            <datosventa info="{{ com.venta }}"></datosventa>
                        </li>
                    </ul>
                 </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-sm-12">
                <label for="comentario">Comentario adicional</label>
                <textarea name="comentario" class="form-control" ng-model="com.comentarios"></textarea>
                </div>
                <div class="clearfix" style="padding:20px 0;"></div>
                <div class="col-sm-12">
                    <input type="submit" ng-if="!com.venta" value="{{ boton }}" class="btn btn-success btn-lg" ng-click="guardar(com)">
                    <input type="submit" ng-if="com.venta" value="{{ boton }}" class="btn btn-success btn-lg" ng-click="update($parent.com.id, $parent.com)">
                    <a href="{{ cancel }}" class="btn btn-default btn-lg pull-right">Volver</a>
                </div>
        	</form>
    	</div>
    </div>
</section>
</div>