<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{ titulo }}
    </h1>
    <ol class="breadcrumb">
      <li><a href="<?=base_url()?>"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">{{ titulo }}</li>
    </ol>
  </section>
  <section class="content">
  	<div class="container">
		<div class="col-sm-12 main">
        	<form class="theform">
                <div class="col-sm-12" id="activo">
                    <input type="checkbox" name="activo" id="check_01" ng-model="usuario.activo" ng-true-value="'1'" ng-false-value="'0'" />
                    <label for="activo">&#160;</label>
                    <span>Usuario&nbsp;<b id="status">Activo</b></span>
                </div>
                <div class="col-sm-6">
                    <label for="email">Usuario*</label>
                    <input 	type="text" 
                            name="usuario" 
                            class="form-control" 
                            ng-model="usuario.user" 
                            placeholder="Nombre o Seudonimo" 
                            required/>
                </div>
                <div class="col-sm-6">
                    <label for="email">Email*</label>
                    <input 	type="email" 
                            name="email" 
                            class="form-control" 
                            ng-model="usuario.email" 
                            placeholder="usuario@mail.com" 
                            required/>
                </div>
                <div class="col-sm-6">
                    <label for="pass">Contraseña*</label>
                    <input 	type="password" 
                            name="pass" 
                            class="form-control" 
                            ng-model="usuario.pass" 
                            required/>
                </div>
                <div class="col-sm-6">
                    <label for="re-pass">Repita la Contraseña*</label>
                    <input 	type="password" 
                            name="passconfirm" 
                            class="form-control" 
                            ng-model="usuario.passconfirm" 
                            required 
                            />
                </div>
                <div class="col-sm-6">
                    <label for="perfil">Perfil</label>
                    <select name="perfil" id="perfil" class="form-control" ng-model="usuario.perfil" required>
                    	 <option ng-repeat="type in tipousu" value="{{ type.id }}">{{ type.tipo }}</option>
                    </select>
                </div>
                <div class="clearfix" style="padding:30px 0;"></div>
                <input type="hidden" name="id" ng-model="usuario.id" />
                <div class="col-sm-12" id="botones">
                <input 	type="submit" 
                        value="{{ boton }}" 
                        class="btn btn-lg btn-success" 
                        ng-click="submit($parent.usuario)" />
                        
                <a href="{{ cancel }}" class="btn btn-default btn-lg">Volver</a>
                </div>
            </form>
		</div>
	</div>
	</section>
</div>