<div class="content-wrapper">
  <section class="content-header">
    <h1>
     Usuarios
    </h1>
    <ol class="breadcrumb">
      <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Usuarios</li>
    </ol>
  </section>
  <section class="content">
  <div class="box">
    <div class="box-header">
    	<div class="col-sm-6">
            <a href="#/usuario"><h3 style="margin-top:0"><span class="label label-success">+ Agregar Usuario</span></h3></a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                            <div class="col-sm-12">
                                <label for="orden">Ordenar por:</label>
                                <select name="orden" ng-model="orden">
                                    <option value="user">Usuario</option>
                                    <option value="email">Email</option>
                                    <option value="perfil">Perfil</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <label for="invertir">Invertir Orden</label>
                                <input type="checkbox" name="invertir" ng-model="invertir" ng-true-value="true" ng-false-value="false">
                            </div>
                        </div>
            <div class="col-sm-6">
            <label for="buscar">Buscar:</label>
            <input name="buscar" type="search" ng-model="buscar">
            </div>
    	</div>
    </div>
    <div class="box-body">
       <table id="tabla" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>Status</th>
            <th>Fecha Creacion</th>
            <th>Opc</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="usuarios in usuario | filter: buscar |orderBy: orden:invertir" id="fila-{{ usuarios.id }}">
          <td>{{ usuarios.user }}</td>
          <td>{{ usuarios.email }}</td>
          <td>
          	<div ng-if="usuarios.perfil == '0'">Programador</div>
            <div ng-if="usuarios.perfil == '1'">Administrador</div>
            <div ng-if="usuarios.perfil == '2'">Usuario</div>
          </td>
          <td>
          	<div ng-if="usuarios.activo == '0'">Inactivo</div>
            <div ng-if="usuarios.activo == '1'">Activo</div>
          </td>
          <td>{{ usuarios.f_creacion }}</td>
          <td style="text-align:center">
           <a href="#/usuario/{{usuarios.id}}"><i class="fa fa-pencil optionsicons"></i></a>&nbsp; &nbsp; &nbsp;
           <a ng-really-message="Se borrara el usuario con Email {{ usuarios.email | uppercase}}" ng-really-click="remove(usuarios.id)"><i class="fa fa-trash error"></i></a>
          </td>
        </tr>
        <tfoot>
        <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>Status</th>
            <th>Fecha Creacion</th>
            <th>Opc</th>
        </tr>
        </tfoot>
        </tbody>
      </table>
    </div>
    </div>
    </section>
</div>