<div class="container detalle">
    <div ng-hide="items.categoria" class="loading"></div>
    <div class="col-xs-12 router">
        <a href="#/">Productos</a>&nbsp;/&nbsp;
        <a href="#/{{ items.categoria_url }}">{{ items.categoria }}</a>&nbsp;/&nbsp;
        <span id="actual"><a name="info" style="text-decoration:none; color:#3A3A3A;">{{ items.producto[0].i_nombre }}</a></span>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="imagen">
                <div ng-show="items.producto[0].ctrl_id==4" class="product-label oferta"></div>
                <div ng-show="items.producto[0].ctrl_id==2" class="product-label recomendado"></div>
                <div ng-show="items.producto[0].ctrl_id==3" class="product-label masvendido"></div>
                <div ng-show="items.producto[0].i_condicion > 0" class="usado-label"></div>
              	<!-- start Basic Slider -->
                <ng-owl-carousel class="owl-theme" owl-items="slides" owl-properties="properties2" owl-ready="ready($api)">
                	<div ng-repeat="slide in slides" class="item">
                    	<img ng-src="{{ slide.image }}"  err-src="/img/no-product.jpg" alt="{{ items.producto[0].i_cod }} - {{ items.producto[0].i_nombre }}" class="img-responsive"/>
                    </div>
                </ng-owl-carousel>
                  <!-- end Basic Slider -->
                <div class="clearfix"></div>
                <div class="col-xs-4">
                	<img src="../img/logo.png" class="img-responsive" />
                </div>
                <div class="clearfix"></div>
                </div>
        </div>
        <div class="col-xs-12 col-md-6">
        	<div id="nombre">
        		<img ng-src="{{ items.producto[0].m_pic }}" class="col-md-3 no-padding img-responsive" />
        		<h1 class="col-md-9 no-padding">{{ items.producto[0].i_nombre }}</h1>
            </div>
            <div ng-if="items.producto[0].precio_viejo">
                <div class="col-xs-6 precio pantes">
                    <span class="moneda">Bs </span>
                    <span class="antes">{{ items.producto[0].precio_viejo }}</span>
                </div>
                <div class="col-xs-6 precio" align="left">
                    <span class="moneda">Bs </span>
                    <span class="ahora">{{ items.producto[0].i_precio }}</span>
                </div>
            </div>
            <div ng-if="!items.producto[0].precio_viejo">
                <div class="col-xs-12 precio" align="center">
                    <span class="moneda">Bs </span>
                    <span class="ahora">{{ items.producto[0].i_precio }}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="padding:15px 0">
	            <div class="col-xs-6 no-padding">
                	<div ng-show="items.producto[0].i_costoenvio > 0" class="genvio enviogratis">Envio Gratis</div>
                </div>
                <div class="col-xs-6 code">Cod:{{ items.producto[0].i_cod }}</div>
            </div>
            <div class="row">
            <form id="form{{ items.producto[0].i_id }}" class="boxform">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <select class="form-control cantidad" name="cantidad" data-code="{{ items.producto[0].i_id }}" id="cantidad{{ items.producto[0].i_id }}" onchange="removedisable(this)" tabindex="-1" aria-hidden="true">
                                <option ng-repeat="cant in qty(items.producto[0].i_cantidad)" value="{{ cant }}" >{{ cant }}</option>
                            </select>
                            <div class="input-group-btn">
                                <button name="action" class="btn btn-success cartbutton" id="save{{ items.producto[0].i_id }}" data-code="{{ items.producto[0].i_id }}" disabled="disabled" onclick="addtocart(this)">
                                    Al carrito <i style='font-size:28px' class='fa fa-shopping-cart'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-7">
                	<span class="valor"></span>
                </div>
                <input type="hidden" name="id" value="{{ items.producto[0].i_id }}">
                </form>
            </div>
            <!--<div align="center">
            	<button class="btn btn-flat btn-lg btn-success" data-toggle="modal" data-target="#comprado">COMPRAR</button>
           	</div>-->
            <div class="col-xs-12 col-md-12" style="padding:10px 0;margin:auto;display:flex;">
                <!-- AddToAny BEGIN -->
            	<div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display:inline-block; margin:auto;">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                    <a class="a2a_button_whatsapp"></a>
                    </div>
                <!-- AddToAny END -->
            </div>
        </div>
        <div ng-if="items.producto[0].v-url!=''" class="col-xs-12 col-md-6">
            <legend style="text-align:center;">Video</legend>
            <div class="responsive-video">
            	<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ items.producto[0].v-url }}rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div ng-if="items.producto[0].v-url == ''" class="col-xs-12" id="datos">
        	<div ng-show="items.producto[0].i_descripcion!=''">
				<div style="line-height:35px;padding:0px 35px;" ng-bind-html="descripcion(items.producto[0].i_descripcion)"></div>
            </div>
            <br/><br/>
            <div class="col-xs-12" style="padding:0 0 10px 0; text-align:center;color:#6C6C6C">
            	<strong ng-show="items.producto[0].i_visitas!=''">{{ items.producto[0].i_visitas }} persona(s) se han interesado en este producto</strong>
            </div>
         </div>
        <div ng-if="items.producto[0].v-url!=''" class="clearfix"></div>
        <div ng-if="items.producto[0].v-url!=''" class="col-xs-12 col-md-12" id="datos">
			<div ng-show="items.producto[0].i_descripcion!=''">
                <div style="line-height:35px;padding:0px 35px;" ng-bind-html="descripcion(items.producto[0].i_descripcion)"></div>
            </div>
            <br/><br/>
            <div class="col-xs-12" style="padding:0 0 10px 0; text-align:center;color:#6C6C6C">
            	<strong ng-show="items.producto[0].i_visitas!=''">{{ items.producto[0].i_visitas }} persona(s) se han interesado en este producto</strong>
            </div>
        </div>
        <div class="clearfix"></div>
        <br/><br/>
        <!--Facebook Comments-->
        <div class="col-xs-12">
        <div class="fb-comments" data-href="{{ items.producto[0].url }}" data-width="100%" data-numposts="5"></div>
        </div>
        <!--End Facebook Comments-->
        <legend style="text-align:center;font-size:24px;font-style:italic;">Otros productos de inter&eacute;s</legend>
        <!-- start Basic Jquery Slider -->
        <div class="row">
        	<div class="col-xs-12">
                <ng-owl-carousel class="owl-theme" owl-items="owlitems" owl-properties="properties" owl-ready="ready($api)">
                    <div ng-repeat="sugest in items.sugerencias track by $index" style="float:left;" class="productbox">
                        <div ng-if="sugest.i_condicion && sugest.i_condicion!=0" class="usado-label"></div>
                        <div class="gallery product_img">
                        	<a href="productos#/{{ sugest.c_nombre| removeSpaces }}/{{ sugest.i_id }}/{{ sugest.i_nombre | removeSpaces }}">
                            	<img class="img-responsive img-circle imglink" ng-src="{{ sugest.p_1 }}" err-src="/img/no-product.jpg" alt="{{ sugest.i_nombre }} - Cod: {{ sugest.i_cod }}" />
                            </a>
                        </div>
                        <div class="propertiesgroup">
                        	<p class="productname">{{ sugest.i_nombre }}<br/><b>Cod. {{ sugest.i_cod }}</b></p>
                        </div>
                    </div>
                </ng-owl-carousel>
            </div>
        </div>
    <!-- end Basic jQuery Slider -->
</div>
<div class="clearfix"></div>
</div>
<script>
 $(document).ready(function(){
    $('#theCarousel').carousel({
            interval: 3000
        });
  $.fn.parpadear = function()
  {
	this.each(function parpadear()
	{
		$(this).fadeIn(500).delay(300).fadeOut(500, parpadear);
	});
	}
	$('#descuento').parpadear();
});	


if (screen.width < 760)
{
	$('#imagen').css('height', screen.height);
}
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>