<div ng-hide="items.categoria" class="loading"></div>
<h2 ng-show="items.pagina" id="procategoria">{{ items.pagina }}</h2>
<div ng-repeat="categ in items.categoria">
<div ng-repeat="(clave, item) in items.productos[categ.c_nombre]">
	<div ng-if="creafix(clave)=='xs'" class="clearfix visible-xs"></div>
    <div ng-if="creafix(clave)=='sm'" class="clearfix visible-sm"></div>
    <div ng-if="creafix(clave)=='md'" class="clearfix visible-md visible-lg"></div>
	<div class="col-xs-6 col-sm-4 col-md-3 item">
     	<div class="productbox">
            <div ng-if="item.i_clasificacion==4" class="product-label oferta"></div>
            <div ng-if="item.i_clasificacion==2" class="product-label recomendado"></div>
            <div ng-if="item.i_clasificacion==3" class="product-label masvendido"></div>
            <div ng-if="item.i_condicion > 0" class="usado-label"></div>
			<form id="form{{ item.i_id }}" class="boxform">
            <div ng-if="item.i_cantidad < 1" class="agotado"></div>
            	<div class="gallery product_img">
            		<a href="{{ item.url }}">
            			<img ng-src="{{ item.p_1 }}" err-src="/img/no-product.jpg" id="img{{ item.i_id }}" class="img-responsive imglink" title="Ver Detalles" alt="{{ item.i_nombre }} - Cod: {{ item.i_cod }}"/>
         			</a>
            	</div>
            <div class="propertiesgroup">
                <div class="col-xs-12">
                    <p class="productname"><b>Cod. {{ item.i_cod }}</b><br/>{{ item.i_nombre.trunc(60) }}</p>
                </div>
            <div class="clearfix"></div>
            <div class="col-xs-12" style="padding:20px 0 5px;">
				<div ng-if="item.precio_viejo" class="col-xs-6 precio pantes">
                	<span class="moneda">Bs </span>
                    <span class="antes">{{ item.precio_viejo }}</span>
                </div>
                <div class="col-xs-6 precio">
                	<span class="moneda">Bs </span>
                    <span class="ahora">{{ item.i_precio }}</span>
                </div>
            </div>
            <div ng-if="i_costoenvio" class="col-xs-12 genvio">
                Envio Gratis
            </div>
            <!--<div class="col-xs-12">
                	<div class="input-group">
                    <select class="form-control cantidad" name="cantidad" id="cantidad{{ item.i_id }}" data-code="{{ item.i_id }}" onchange="removedisable(this)" ng-model="model" tabindex="-1" aria-hidden="true">
						<option ng-repeat="cant in qty(item.i_cantidad)" value="{{ cant }}" >{{ cant }}</option>
                    </select>
                    <div class="input-group-btn">
                        <button name="action" class="btn btn-success cartbutton" id="save{{ item.i_id }}" data-code="{{ item.i_id }}" disabled="disabled" onclick="addtocart(this)">
                        <span class="hidden-xs hidden-sm">
                        	Al carrito <i style='font-size:28px' class='fa fa-shopping-cart'></i>
                        </span>
						<span class="hidden-md hidden-lg">
                        	<i style='font-size:28px' class='fa fa-shopping-cart'></i>
						</span>
                        </button>
                    </div>
                </div>
            </div>-->
            <div class="col-xs-7">
            <span class="valor"></span>
            </div>
        </div>
        <input type="hidden" name="id" value="{{ item.i_id }}">
		</form>
</div>
</div>
</div>
<script>
$('.imglink').on('load', function(){
		$(this).css('background', 'none');
	});
</script>